[2018-08-16 14:19] LauraHilliger opened #28 ""Open" and personality types"
- Do "open" contexts and organizations attract a certain "type" of participant?

[2018-08-24 19:32] semioticrobotic opened #29 "The challenges of decoding open source DNA"
Proposed article from Jason Hibbets

[2018-09-13 12:10] semioticrobotic opened #34 "Rethinking "culture fit""
Ambassador @jenkelchner proposed this piece, based on the forthcoming chapter from _The Open Organization Leaders Manual_ 2nd edition.

[2019-05-14 16:31] semioticrobotic opened #1 "Passing the digital transformation stink test"
Ambassador @amatlack proposes a new piece based on her eagerly anticipated and well-received presentation at Red Hat Summit 2019. Suggested talking points: digital transformation, bad tastes and smells, pufferfish, being _literally_ literal, and responding well to change.

[2019-06-17 20:59] semioticrobotic opened #2 "SourceOpen's journey to becoming an open organization"
Article from Geert Booster of @sourceopenNL explaining the steps his organization will take to become an open organization.

[2019-06-17 20:59] semioticrobotic opened #3 "Being transparent about the reasons no one is using your product"
Opensource.com editor @jehb notes [this rather interesting post](https://www.hotjar.com/blog/saas-churn?utm_source=Facebook&utm_campaign=Blog_Facebook_3reasons&utm_medium=display&fbclid=IwAR0l8REivQ_almkTKjug3ivtxmD9NHL3W-AYn2qdYZrsjj5jhIa1gntYLF8) from website user experience monitoring company HotJar.

Says @jehb:

Noting this here in case anyone wants to investigate or follow up.

[2019-06-17 21:00] semioticrobotic opened #4 "Visualizing work with the A3 method"
Article proposal from @jimmysjolund, based on his recent working for _The Open Organization Leaders Manual, Second Edition_.

[2019-06-17 21:00] semioticrobotic opened #5 "Openness, boundaries, and limits"
Proposed article on issues of boundary drawing and over-extension. Openness as cause? Openness as solution?

Ambassadors @arob98, @jenkelchner, @LappleApple to discuss and brainstorm.

[2019-06-17 21:00] semioticrobotic opened #6 "Guide to facilitating an OpenOrg unconference session"
As proposed by @jonasrosland: We could use a resource for helping ambassadors (and anyone, really!) facilitate ad-hoc, unconference sessions related to open organization theory and practice. Ambassador @jonasrosland already ran one and has agreed to share his knowledge and best practices.

[2019-06-17 21:01] semioticrobotic opened #7 "When openness and collaboration fail"
From @jimmysjolund:

[2019-06-17 21:01] semioticrobotic opened #8 "Open leadership + servant leadership + "quiet leadership""
Assigned to @jenkelchner at her request!

[2019-06-17 21:02] semioticrobotic opened #9 "Creating "culture bubbles""
Jeremy Brown (@tenfourty) has proposed an article on this subject.

Anticipated first draft date: August 20, 2018.

[2019-06-17 21:02] semioticrobotic opened #10 "Open communication with communities"
I'm creating a wider space for thinking through this idea, because @robinmuilwijk has expressed an interest in tackling it (thanks, @robinmuilwijk!).

I believe @LauraHilliger suggested something along these lines at our last meeting. In particular, we discussed the need for an article that offered folks _inside_ an organization who lack experience reaching out to and connecting with communities:

[2019-06-17 21:02] semioticrobotic opened #11 "Open leader's guide to more open performance reviews"
I know @arob98 has a keen interest in this subject, so I'm tagging her on it! Maybe one or two writers want to tag-team an article on opening up the performance review process a bit?

[2019-06-17 21:03] chadwhitacre opened #12 "Distribution of effort in a truly open org"
I think there might be an interesting point to be made about how in open source projects and organizations that practice open hiring, there's a smooth distribution of effort vs. a blocky distribution in a traditional-hiring org. Instead of mostly full-time with a few half-time people, effort in an open org is continuous from super-full-time to almost-but-not-quite-never.

I've been aware of this f

[2019-06-17 21:03] LauraHilliger opened #13 "Hiring for culture fit vs Diversity and inclusion"
We talk about culture and fit and at the same time we talk about being diverse and inclusive. What makes a person belong in a community? How and why do some people fit and others do not? How can we create open organizations that are the most inclusive spaces, where truly anyone can belong.

I'd say it starts with individuals making the effort to make everyone feel welcome, especially when they, pe

[2019-06-17 21:03] LauraHilliger opened #14 ""Only ask professionals" perspective an it's relationship in open source."
Sometimes people new in a particular career/industry have the idea that only those trained in that field should have a opinion / be allowed to have an opinion. What they forget is we are influenced by everything we see and experience, and a specialized degree doesn't necessarily mean that one's voice is "worth" more than someone else's. Something here about generalists, specialists, experts, novic

[2019-06-17 21:04] chadwhitacre opened #15 "publish something on organizational empathy"
On today's call I talked about a post that's gestating. Here's a ticket for it! :-)

A braindump:

- [Mini-rant](https://twitter.com/Gratipay/status/839964593246130177): "If you receive value from a person or organization, you should reciprocate via a method of *their* choosing. If the person or organization states that donations are their primary source of income, you should donate money to them.

[2019-06-17 21:04] chadwhitacre opened #16 "publish an open coops/collaborative economy explainer"
This came up in IRC this morning and again on our monthly call. @LauraHilliger is active in this scene (recently keynoted https://2017.open.coop/) and suggested that she and I cowrite something.

Dump from IRC:

@LauraHilliger points to https://www.getrevue.co/profile/weareopencoop/issues/co-op-quarterly-q1-2017-38503 and has already published on this topic on opensource.com (links?).

@semioticro

[2019-06-17 21:05] chadwhitacre opened #17 "publish a roundup of open org handbooks"
Following on from https://github.com/gratipay/inside.gratipay.com/issues/757#issuecomment-256234457, I want to write about something practical! I'm thinking of collecting examples of open company handbooks—GitLab, Enspiral, Loomio, Gratipay ...

- [**Working Draft**](https://docs.google.com/document/d/1DrAmDHyDUZycdA4bS56CvOQylsqF_A2vHmSxaDxCBYg/edit?usp=sharing)

[2019-06-17 21:06] #18 closed

[2019-06-17 21:06] chadwhitacre opened #18 "publish something about code review"
Hey @lognaturel, wanna write up a post for OpenSource.com based on the [code review session](https://docs.google.com/document/d/1y0p2V_dkSIFvatEy-mQyoFzipdVwKpILSlt_JFKvpuQ/edit) at CLS? :-)

[2019-06-17 21:06] chadwhitacre opened #19 "publish something about "inner circling""
- [**Working Draft**](https://docs.google.com/document/d/1GGWsTCJPDC64zs9rgGkrv8JgcfbSnTkIFgFH29LyMtM/edit?usp=sharing)
- [Draft 3](https://docs.google.com/document/d/1Wgee_g98viGvLC2f3xRIvh-v2SeAOuRv8oB-hZgisII/edit?usp=sharing)
- [Draft 2](https://docs.google.com/document/d/1m15aNhOJhpdx-T3iiaDDb1icJUgvlT4TploImq27jsU/edit?usp=sharing)
- [Draft 1](https://docs.google.com/document/d/1kfjod6dvLnKw

[2019-06-17 21:06] #19 closed

[2019-06-17 21:06] chadwhitacre opened #20 "publish something about delegation"
We chatted for a bit on today's (private) ambassador call about this topic. Open source is optimized for people who are naturally comfortable with taking charge and setting their own direction. But many folks in the world respond better to situations where there are clear guidelines about how to contribute in an organization. How can open organizations accommodate this tendency, and help people ta

[2019-06-17 21:06] #20 closed

[2019-06-17 21:06] semioticrobotic opened #21 "19 open leadership goals for 2019"
Proposed piece from @arob98, which will announce her 2019 open leadership resolutions for the purpose of transparency (and community accountability!).

[2019-06-17 21:06] #21 closed

[2019-06-17 21:06] semioticrobotic opened #22 "Why do open organizations have open secrets?"
A [recent article in HBR](https://hbr.org/2019/01/why-open-secrets-exist-in-organizations) raises the issue of "open secrets" in organizations, and it asks some questions I think would prompt an interesting response/rejoinder from the open organization community:

A [full research report](https://journals.aom.org/doi/10.5465/amj.2017.0245) from the authors is also online.

[2019-06-17 21:06] #22 closed

[2019-06-17 21:07] semioticrobotic opened #23 "Creating cultures of continuous improvement in our schools"
Proposed piece from @engineerteacher, who argues that "Open Organization language has a better shot at penetrating the ed space than most other 'organizational improvement' methods that have come down the pike over the years."

[2019-06-17 21:07] #23 closed

[2019-06-17 21:07] semioticrobotic opened #24 "Simplifying organizational change: A guide for the perplexed"
New guide from @jenkelchner:

[2019-06-17 21:07] #24 closed

[2019-06-17 21:07] funnelfiasco opened #25 "Resilient versus reactive organizations"
This took a different path than I had originally discussed in email with you @semioticrobotic, but you'll get that sometimes.

https://docs.google.com/document/d/1R0UUBz2tJtnzA5MDyOOgADafopyGNvn68IaZWtX3FYA/edit?usp=sharing

[2019-06-17 21:07] #25 closed

[2019-06-17 21:07] semioticrobotic opened #26 "Open approaches to better meetings"
An update to the perennial favorite "6 steps to running the perfect 30-minute meeting" by Jimmy Sjölund may be in the works. We'd love to see this one happen if @jimmysjolund is up to it!

[2019-06-17 21:07] #26 closed

[2019-06-17 21:08] semioticrobotic opened #27 "You're open so why are you such a privacy nut?"
Ambassador @arob98 has begun the first draft of this important piece. @LauraHilliger may want to chime in with her thoughts or motivations for opening this issue.

[2019-06-17 21:08] #27 closed

[2019-06-17 21:08] #28 closed

[2019-06-17 21:08] #29 closed

[2019-06-17 21:08] semioticrobotic opened #30 "Open Organization Best of 2018"
This will be our annual round-up of the year's most-read articles, compiled by @semioticrobotic.

[2019-06-17 21:08] #30 closed

[2019-06-17 21:08] semioticrobotic opened #31 "Why your employees should be calling you out"
Article proposal from @FunnelFiasco.

[2019-06-17 21:08] #31 closed

[2019-06-17 21:08] semioticrobotic opened #32 "Open organizations must embrace remote work"
Proposed article from @funnelfiasco.

[2019-06-17 21:08] #32 closed

[2019-06-17 21:08] semioticrobotic opened #33 ""Empowered" does not mean "unmanaged""
Proposed article from ambassador @amatlack.

[2019-06-17 21:08] #33 closed

[2019-06-17 21:08] #34 closed

[2019-06-17 21:09] semioticrobotic opened #35 "The limits of transparency"
Friend-of-the-community Brook Manville brings to our attention a recent op-ed in _The Washington Post_: ["Government 'transparency' has gone too far."](https://www.washingtonpost.com/opinions/government-transparency-has-gone-too-far/2018/08/13/5c66b902-905c-11e8-8322-b5482bf5e0f5_story.html?utm_term=.b7449a58a899)

I'd love to see someone write a thoughtful response to it for Opensource.com, parti

[2019-06-17 21:09] #35 closed

[2019-06-17 21:09] chadwhitacre opened #36 "publish something about the Hacker Ethic"
- [**Working Draft**](https://docs.google.com/document/d/1UOuRbXgXdIh7WLgW4B0gGM7hF4iw5zaOtX6vXc0hDzI/edit)
- [Draft 6](https://docs.google.com/document/d/1VLdEdYQbFnOG9nbgp_mIhoNWScElBcfkkr7vbGThSYI/edit)
- [Draft 5](https://docs.google.com/document/d/1b3qVdCY3C6N_hZ5Na6yI7M1F2CFTZOASIFNWGihzk5o/edit)
- [Draft 4](https://docs.google.com/document/d/1y4mMnmNPnTssDGhEbH5SpFCSMPJppgPhd4rAFjrcDDU/edit

[2019-06-17 21:09] #36 closed

[2019-06-17 21:10] chadwhitacre opened #37 "publish advice on using an issue tracker"
- [**Working Draft**](https://docs.google.com/document/d/11PJqRuFfWutwgLiwIXa6d99wUJWwJ-E_bRMx-S8jsEY/edit)
- [Draft 1](https://docs.google.com/document/d/17WvNWbmRlgNhnBYy4lL-cxs_lLN46u88ipICTB1v_is/edit?usp=sharing)

[2019-06-17 21:10] #37 closed

[2019-06-17 21:10] jenkelchner commented on #5
Would love to collaborate on this topic!

[2019-06-18 10:43] semioticrobotic opened #38 "An open approach to recovering from burnout"
Proposed article from @arob98:

[2019-06-18 10:45] semioticrobotic opened #39 "Mentoring in an open organization"
Proposed article from @arob98:

[2019-06-20 15:16] semioticrobotic opened #40 "Open education: There isn't an app for that"
Proposed article from @creisinger, based on this submission to _The Open Organization Guide for Educators_ project:

[2019-06-20 17:19] semioticrobotic commented on #40
Scheduled to run July 02 as ["Open education: There isn't an app for that."](https://opensource.com/open-organization/19/7/open-schoolhouse-empowerment) Great work, @creisinger!

[2019-06-21 11:40] semioticrobotic commented on #1
Just wondering how this is going, @amatlack, and if there's anything I can do to help you.

[2019-06-21 13:49] amatlack commented on #1
Nothing to share yet. Just short on time. :-)

On Fri, Jun 21, 2019 at 7:40 AM Bryan Behrenshausen <
notifications@github.com> wrote:

[2019-06-21 13:56] semioticrobotic commented on #1
Roger that. Thanks!

[2019-06-22 12:17] semioticrobotic commented on #40
Actually, just kidding!

Because of next week's holiday, I don't want this to go overlooked and underappreciated. So I am scheduling it for July 09, @creisinger.

[2019-07-01 10:12] semioticrobotic opened #41 "Open organizations, energy and burnout"
Article proposal from @RonMcFarland:

[2019-07-09 13:25] semioticrobotic commented on #40
Published today. Thanks, @creisinger!

[2019-07-09 13:25] #40 closed

[2019-07-24 15:10] semioticrobotic commented on #41
Slated to appear Tuesday, August 06 as ["Avoiding burnout: 4 considerations for a more energetic organization."](https://opensource.com/open-organization/19/8/energy-fatigue-burnout) Great work, @RonMcFarland!

[2019-08-05 20:38] semioticrobotic opened #42 "A brief introduction to learning agility"
Proposed articles from @jenkelchner (first in a three-part series):

[2019-08-06 12:05] semioticrobotic commented on #41
Published! Great work, @RonMcFarland!

[2019-08-07 10:29] semioticrobotic opened #43 "Book review"
Proposed book review from @trncb.

[2019-08-07 14:43] semioticrobotic commented on #42
Typeset and prepared for publication on August 19 as "[A brief introduction to learning agility](https://opensource.com/open-organization/19/8/introduction-learning-agility)." Nice work, @jenkelchner!

[2019-08-07 16:00] semioticrobotic opened #44 "Tapping into learning agility"
Proposed article from @jenkelchner. Second in a series.

[2019-08-20 12:04] semioticrobotic commented on #42
Published! Congratulations, @jenkelchner. Well done indeed.

[2019-08-23 11:12] semioticrobotic opened #45 "Lesson plans for an open education"
An article announcing the official release of _The Open Organization Guide for Educators_.

[2019-08-27 12:13] semioticrobotic opened #46 "Climate challenges call for open solutions"
Article proposal from @RonMcFarland—a case study in open organizational approach to nuclear decommissioning.

[2019-08-29 14:57] semioticrobotic commented on #45
First draft [now accessible to all authors](https://docs.google.com/document/d/1wC7pVBAAKF_PF9BMAN8BUwtjI53kd2-3LRJiDLzqiyU/edit#).

[2019-09-04 18:05] semioticrobotic commented on #45
Slated to publish Tuesday, September 10, as "[Lesson plans for an open education](https://opensource.com/open-organization/19/9/announcing-guide-for-educators)."

[2019-09-10 12:07] #41 closed

[2019-09-10 12:08] semioticrobotic commented on #45
Published! Great work, team!

[2019-09-10 12:08] #45 closed

[2019-09-10 12:08] #42 closed

[2019-09-13 18:23] semioticrobotic commented on #44
Scheduled to publish on September 24 as "[A human approach to reskilling in the age of AI](https://opensource.com/open-organization/19/9/claiming-human-age-of-AI)." Great job, @jenkelchner!

[2019-09-23 13:56] semioticrobotic opened #47 "Tapping into your learning agility"
Third installment in the learning agility series from @Jenkelchner.

[2019-09-24 17:48] semioticrobotic commented on #38
This is on hold as we await direction from @arob98, so I'll remove it from the board for now.

[2019-09-27 10:47] semioticrobotic commented on #46
Scheduled to appear October 10 as "Climate changes call for open solutions." Great work, @RonMcFarland!

[2019-09-30 11:36] #39 closed

[2019-10-22 13:12] semioticrobotic commented on #47
Do you think this might be ready for publication on November 12, @jenkelchner? That'd mean a complete draft by the middle or end of next week. No problem if not.

[2019-10-22 13:13] #46 closed

[2019-10-22 15:14] jenkelchner commented on #47
@semioticrobotic I'd say I'm tentative for that end of next week (about 80%).  I need to really review my to-do list carefully as I've put off a few client things with last week's travel and I'm OOO Friday-Sunday this week.  I'll confirm before end of week if I can move that needle from 80 to 100.

[2019-10-22 16:19] semioticrobotic commented on #47
Great! And no sweat if not. Just planning for November and want to be sure I save a slot for you.

[2019-11-21 10:05] shabnoorshah commented on #11
Hi I'm new here...but would be happy to participate in this effort if this is still open.

[2019-11-21 12:58] semioticrobotic commented on #11
Indeed, it is, @shabnoorshah! I know this would be a valuable resource for the community. We can continue to discuss your plans here, in-thread, or you're welcome to email me to review strategy, outlines, drafts—whatever you like.

[2020-01-21 13:20] semioticrobotic opened #48 "Healing a damaged team while continuing to deliver business results"
Article on this topic is incoming from @ldimaggi.

[2020-01-21 13:21] semioticrobotic opened #49 "Why innovation can't happen without standardization"
Article on this topic forthcoming from @ldimaggi:

[2020-01-21 13:23] semioticrobotic commented on #49
Scheduled for publication on February 11 as "[Why innovation can't happen without standardization](https://opensource.com/open-organization/20/1/standardization-versus-innovation)."

[2020-01-22 18:13] semioticrobotic opened #50 "Stuck in a loop: 4 signs anxiety may be affecting your work"
Forthcoming article from @samuelknuth, Red Hat, to [extend the series initiated in January](https://opensource.com/open-organization/20/1/leading-openly-anxiety).

[2020-01-22 18:16] semioticrobotic commented on #50
Currently slated for publication on **February 04** as ["Stuck in a loop: 4 signs anxiety might be affecting your work."]((https://opensource.com/open-organization/20/2/working-anxiety-inaction-loop))

[2020-01-29 12:54] semioticrobotic opened #51 "How my anxiety impacts colleagues in an open organization"
Forthcoming piece from @samuelknuth, Red Hat, to conclude his series on open organizations and mental health.

[2020-02-04 13:14] semioticrobotic commented on #50
Published! Thanks, @samuelknuth.

[2020-02-04 20:14] #50 closed

[2020-02-04 20:18] semioticrobotic commented on #11
Just checking on the status of this, @shabnoorshah. Any update on progress? Most importantly: How can I help?

[2020-02-11 13:12] semioticrobotic commented on #49
Published! Great work, @ldimaggi!

[2020-02-11 13:12] #49 closed

[2020-02-11 13:13] semioticrobotic commented on #51
Scheduled to appear on February 25 as "[Spilling over: How working openly with anxiety affects my team](https://opensource.com/open-organization/20/2/working-anxiety-team-performance)."

[2020-02-13 15:29] semioticrobotic opened #52 "Organizing an open summit"
Writing an article on the organizational successes and challenges running a volunteer-driven summit attached to the world’s largest open source conference - Contributor Summit at KubeCon.

We hone in on a few items that people would be interested in knowing about how the event is run, the shadow program, how we deal with content, etc.

With @jeefy from Red Hat

[2020-02-25 13:14] #51 closed

[2020-04-07 09:22] LauraHilliger opened #53 "Series: Rebuilding of a community series"
After a chat with Heidi yesterday, I was inspired by an idea we had - namely, starting a new series about "Rebuilding our community". We were talking about how communities live and breathe and how we'd like to make sure that this next phase of our community helps us address some of the social credit issues we've been dealing with, as well as providing a kind of pipeline for those of us who need mo

[2020-04-07 13:11] HeidiHVL commented on #53
@LauraHilliger i added some comments in the doc for the first post. :)
see [https://docs.google.com/document/d/1XyFocblLUXkEapSAsj4iYM5r5Dbo6Q3iqQ3BmOyphIo/edit#heading=h.g86no07edilo]

I don't think we need a special blog or anything..... because, if we think about it, the past writing of articles was dictated by our relation to the Brand team, who needed a particular polished quality and process

[2020-04-07 14:17] semioticrobotic commented on #53
Love this idea, @LauraHilliger. If we're striking out on an evolutionary journey, we may as well document it!

As we discuss and sharpen your vision, we can begin discussing potential publication outlets.

[2020-04-15 09:48] LauraHilliger commented on #53
Oh yes, absolutely want to invite everyone to write, rewrite, make it an ambassador piece. And I think @semioticrobotic 's point about clarifying the whole community is a good one.

[2020-04-16 21:11] semioticrobotic commented on #53
Would love to participate! Thanks, @LauraHilliger. Hopefully I'm able to jump back int your document in the next day or two.

We might consider using this space to maintain a list of articles in the series, mirroring the handful of tasks/moments we tend to chronicle in the community evolution. For example:

- Series introduction
- Evolving a governance model
- Rebranding a community
- Building a n

[2020-04-23 21:01] semioticrobotic commented on #53
Whew! Okay! Thank you very much for your patience, @LauraHilliger, as I was able to carve a bit of time to really digest and contribute some of my own thoughts to the piece. I think it's going to be really great. I made some edits and left some comments for you.

[2020-05-14 15:28] LauraHilliger commented on #53
@semioticrobotic so I think post 1 is done, but should we try to finish at least two at a time so that we give ourselves deadlines and use the public series to push us to GSD?

[2020-05-14 17:09] semioticrobotic commented on #53
I think your thinking. Perhaps ideally, we'd have three pieces always in various stages of production:

1. Brainstorming
2. Drafting and editing
3. Polishing and submitting

We have a "Phase 3" piece at the moment, and something like a "Phase 1." But maybe we wait until "1" becomes "2" and then submit "3" into the pipeline?

[2020-05-15 19:01] semioticrobotic commented on #53
Left some edits and suggestions in the doc for you, @LauraHilliger!

[2020-05-18 14:06] LauraHilliger commented on #53
Rearranged the second article, and I think we're moving into Phase 2 there. Would love to have @funnelfiasco 's thoughts as you suggested. See the next steps section – do we actually already have a CoC? Would be cool to have a work-in-progress (or even a finished piece) on the wiki when we publish :)

[2020-05-18 14:13] funnelfiasco commented on #53
I will try very hard to take a look in the next day or two

[2020-05-18 17:01] semioticrobotic commented on #53
We do not! But it's one of the discussions I'd hoped this article would spark. Seems like it will!

[2020-05-18 20:54] funnelfiasco commented on #53
LGTM. I suggested a paragraph about emeritus status. I could probably turn that into a full-blown article at some point maybe?

Also +1 to a Code of Conduct.

[2020-05-19 11:24] semioticrobotic commented on #53
Oh you definitely could.

I'm eager to read the revised version and will leave any comments I have in the next day or two!

[2020-05-19 13:07] semioticrobotic opened #54 "How to scale an open, energetic community"
Ambassador @LauraHilliger will publish the first article in her "renovating a community" series (see #53), which introduces the series and announces some exciting changes occurring in our community.

[2020-05-19 13:08] semioticrobotic opened #55 "Scaling community governance"
Ambassador @LauraHilliger will publish the second installment in her "renovating an energetic community" series (see #53)—this one on evolving a community's governance model.

[2020-05-19 13:10] semioticrobotic commented on #53
As per above: I've created separate issues for Article 1 (#54) and Article 2 (#55) so keeping track of them is a bit easier (for me, anyway).

[2020-05-19 14:31] semioticrobotic commented on #55
Love this one, @LauraHilliger/ I made some suggestions in your document and added a bit of additional history (which you are more than welcome to remove if you don't feel it adds enough). And thanks much @funnelfiasco for the great addition describing Emeritus status. Perfect fit.

[2020-05-19 14:35] HeidiHVL commented on #54
@LauraHilliger looking forward to reading the second article in the series. be sure to tag me so i can stay on top of it :)

[2020-05-19 14:44] semioticrobotic commented on #54
Heck yeah, @HeidiHVL! We're tracking that one in #55.

[2020-05-20 08:50] LauraHilliger commented on #55
@HeidiHVL - for sure go leave comments [in the governance section](https://docs.google.com/document/d/1XyFocblLUXkEapSAsj4iYM5r5Dbo6Q3iqQ3BmOyphIo/edit#heading=h.q3vvfuvgbm3x) (or anywhere else of course)

[2020-05-20 08:54] LauraHilliger commented on #54
Want to make sure publications credit contributors! @funnelfiasco @semioticrobotic @HeidiHVL @jenkelchner (did i miss anyone, I checked the docs comments and found you 4) – how shall we do that? Footer? Disclaimer? Publishing from a new account that has an icon of all of our heads attached to a MegaZord cat body?

[2020-05-20 09:20] LauraHilliger opened #56 "Rebranding a community"
added a section and brain dump to [the working doc](https://docs.google.com/document/d/1XyFocblLUXkEapSAsj4iYM5r5Dbo6Q3iqQ3BmOyphIo/edit#heading=h.99sh7uj14trz) for Scaling community series (#53). As with the rest of the series, y'all are very welcome to brain dump

Idk if I'm going overboard with the context here. There's plenty to say about design process, so we can refocus this if you all feel

[2020-05-20 12:17] semioticrobotic commented on #54
Opensource.com now has the ability to add co-authors for pieces (see, e.g., the recent piece from @HeidiHVL and Tracy Giuliani). So if you'd prefer that, @LauraHilliger, we can certainly make it happen.

[2020-05-20 12:20] semioticrobotic commented on #56
Thanks, @LauraHilliger (I added a link to the series issue in your message, just so new readers can follow along if they'd like, and we can all keep the thread). Hope to read your new work in the next few days.

[2020-05-20 12:36] HeidiHVL commented on #54
Y'all - for myself I don't need to be listed as an author! :) but thanks
for thinking of me
I do wish we could put in field contributors -- because we all need to edit
and review now that we have a new mode of working under OSPO.

On Wed, May 20, 2020 at 8:17 AM Bryan Behrenshausen <
notifications@github.com> wrote:

--
Heidi

[code]

[2020-05-20 12:38] HeidiHVL commented on #54
and FWIW I think field contributors should go at the top.
We can't do it without them and i think a more prominent place than a
footer. :) And Bryan that leads me to say would you credit yourself on the
managing with open values piece? :)

On Wed, May 20, 2020 at 8:36 AM Heidi Hess von Ludewig <heidi@redhat.com>
wrote:

--
Heidi

[code]

[2020-05-20 12:48] semioticrobotic commented on #54
We can! And collective bylines are credited at the top _and_ bottom of every piece!

[2020-05-27 12:49] semioticrobotic commented on #54
This is now [in production](https://opensource.com/open-organization/20/6/scaling-energetic-community).

[2020-06-08 21:14] #54 closed

[2020-06-09 14:41] semioticrobotic commented on #55
Read through this once more and think it's looking great, @LauraHilliger and @funnelfiasco. Just signal if you'd like to make more changes—or go to press with a target publication date in early July.

[2020-06-11 13:49] funnelfiasco commented on #55
:shipit:

[2020-06-15 20:40] semioticrobotic commented on #55
This is now in production as "[How an open project's governance model evolves](https://opensource.com/open-organization/20/7/evolving-project-governance)," targeting a July publication.

[2020-06-23 21:17] semioticrobotic commented on #55
Just received word that this is scheduled to run July 02, 2020.

[2020-07-02 11:04] #55 closed

[2020-07-02 11:05] semioticrobotic commented on #55
Received the following note in my inbox this morning:

community.

[2020-07-13 10:17] LauraHilliger commented on #56
HELLLO I finally took this a bit further and wrote the Branding piece. I also started the piece after that about attribution – it fell out of the other text, but I'm not sure we want to focus on attribution at all... In any case, would be happy to have other folks contribute to our community series!!

https://docs.google.com/document/d/1XyFocblLUXkEapSAsj4iYM5r5Dbo6Q3iqQ3BmOyphIo/edit#heading=h.99

[2020-07-13 11:12] semioticrobotic commented on #56
Awesome, @LauraHilliger! I will take a look and add some thoughts for sure. Would love to hear from others, too, who participated in the rebranding process (@jimmysjolund @funnelfiasco @jonasrosland @jenkelchner and others, etc.)

[2020-07-17 01:21] funnelfiasco commented on #56
I added some comments and suggestions to the brand section.

[2020-07-17 11:01] semioticrobotic commented on #56
This is on my list to review today! Looking forward to it. More soon.

[2020-07-17 19:36] semioticrobotic commented on #56
I think it's looking great. I made some edits to the first half, but decided not to continue until we all feel comfortable that we've got the right narrative, framing, and cadence. Then we can polish up the second half.

[2020-07-17 19:41] funnelfiasco commented on #56
I like the edits!

[2020-07-21 09:36] LauraHilliger commented on #56
I added a lot more edits to the background section – this is the bit we're trying to find the comfortable balance, I think –  and I tried to clear out the other suggestions. I accepted most (except for one because I didn't feel it was true 🐙

[2020-07-21 13:22] semioticrobotic commented on #56
Indeed, some hyperbole and historical inaccuracies on my part. Thanks for tempering.

[2020-07-21 21:44] semioticrobotic commented on #56
Made a few more edits and extended the narrative a bit, @LauraHilliger. See what you think. I see @jimmysjolund poking around in there too. Excellent.

[2020-07-22 07:32] LauraHilliger commented on #56
actually the untrue one was @funnelfiasco 😛

[2020-07-22 11:35] funnelfiasco commented on #56
I was just BSing in the hopes that I someone would correct me where I was wrong 😁

[2020-07-29 15:15] LauraHilliger opened #57 "The power of open source during a pandemic"
Alexandra Machado and I are drafting this post:
https://docs.google.com/document/d/1X7tPIN6K9IKrr_KfnNp4cnaHfX0mp1Iwj3foOyUMZI0/edit?ts=5f2047cd

Obviously just starting WIP!!!

[2020-07-29 18:15] semioticrobotic commented on #57
Neat! Will leave you some in-doc feedback.

[2020-07-30 12:07] LauraHilliger commented on #56
One little rephrase and I think this is ready to go? https://docs.google.com/document/d/1XyFocblLUXkEapSAsj4iYM5r5Dbo6Q3iqQ3BmOyphIo/edit#

[2020-07-30 16:31] semioticrobotic commented on #56
Love how it turned out. Thanks, @LauraHilliger. Going to ask a rep from Open Studio to check it out to, too, before we move forward, but I don't expect that to raise issues (or take long). Will keep everyone posted.

[2020-08-04 22:11] semioticrobotic commented on #56
We're all set. I'll get to work adding this to the pipeline.

[2020-08-05 19:50] semioticrobotic commented on #56
Due August 9th!

[2020-08-12 15:19] #56 closed

[2020-08-17 15:03] semioticrobotic commented on #57
Scheduled to appear August 30, 2020!

[2020-08-18 14:48] semioticrobotic opened #58 "Want to make better decisions? Encourage disagreement"
Contributor @simzacks is working on this one! From the draft:

[2020-08-19 20:33] semioticrobotic commented on #58
Scheduled to appear September 06, 2020.

[2020-09-06 15:01] semioticrobotic commented on #58
[Released!](https://opensource.com/open-organization/20/9/make-decisions-encourage-disagreement)

Great work, @simzacks!

[2020-09-06 15:01] #58 closed

[2020-09-15 12:57] semioticrobotic opened #59 "Leading the relationship with your manager"
Contributor @simzacks has submitted new writing on this topic:

[2020-09-24 17:00] semioticrobotic opened #60 "Assuming positive intent without enabling bad behavior"
Proposed article from @HeidiHVL.

[2020-09-25 17:20] semioticrobotic commented on #59
Scheduled to appear October 11, 2020.

[2020-09-30 21:05] #57 closed

[2020-10-11 13:25] semioticrobotic commented on #59
[Published](https://opensource.com/open-organization/20/10/partnering-with-manager)! Congratulations, @simzacks. Great work.

[2020-10-14 11:31] #59 closed

[2020-10-29 13:27] semioticrobotic opened #61 "Open environments are where innovative ideas thrive"
This is the second article in @RonMcFarland's "Open Organizations and Innovation" series.

[2020-10-29 13:27] semioticrobotic commented on #61
Sent to @trncb for editorial review.

[2020-10-30 18:22] trncb commented on #61
@semioticrobotic I have reviewed and made just the one suggestion.

@RonMcFarland great article!

[2020-10-30 19:44] semioticrobotic commented on #61
Thanks so much, @trncb. This is a huge help. I will get this article into production and offer @RonMcFarland an update soon.

[2020-11-03 16:12] semioticrobotic commented on #61
Scheduled to appear November 08, 2020, as "[Open environments are where innovative ideas thrive](https://opensource.com/open-organization/20/11/environments-for-innovation)." Thanks, @RonMcFarland!

[2020-11-08 16:10] semioticrobotic commented on #61
Published! Thanks @RonMcFarland (and @trncb!).

[2020-11-08 16:10] #61 closed

[2020-11-24 17:07] HeidiHVL opened #62 "A grandfather's lessons in open leadership"
**Background:**
There are six open management values and we can discuss those that are most interesting given your roles, experience etc.:

1. Champion the open culture
2. Inspire shared purpose
3. Hire, develop, and reward the team
4. Deliver results through empowerment
5. Make decisions in an open and timely manner
6. Create an environment of belonging, respect, and mutual support

**Interview P

[2020-11-25 14:55] semioticrobotic commented on #62
Tagging @JosGroenNL here so he's aware of the request for an interview!

[2020-11-25 15:18] HeidiHVL commented on #62
thanks @semioticrobotic -- I spoke with @JosGroenNL yesterday but didn't know his ID (now I do since you shared it but it doesn't come up as a selection when I type the "at" sign)

[2020-11-25 15:23] semioticrobotic commented on #62
I _think_ that's because @JosGroenNL hasn't yet accepted the invitation to join the GitHub group. When he does, we'll be able to "at" him. :smile:

[2020-11-25 16:21] JosGroenNL commented on #62
Hi all, I'm here alive and kicking!

[2020-11-25 16:23] JosGroenNL commented on #62
Hi Heidi, as discussed I think it is nice to pick some items of one of my articles I send this week to talk about and share our thoughts on in the interview

[2020-11-25 16:25] JosGroenNL commented on #62
Do I  need to click a "yes" somewhere?

Op 25 november 2020 om 16:23 uur schreef Bryan Behrenshausen <notifications@github.com>:

but it doesn't come up as a selection when I type the "at" sign

I think that's because @JosGroenNL hasn't yet accepted the invitation to join the GitHub group. When he does, we'll be able to "at" him. 😄

—
You are receiving this because you were mentioned.
Reply to thi

[2020-11-27 12:34] semioticrobotic commented on #62
Thanks, @JosGroenNL! You're all set.

[2020-12-14 19:29] semioticrobotic opened #63 "Roundup of the most-read articles in 2020"
It's an Opensource.com tradition, so I'll pull the data and get started.

[2020-12-14 19:33] semioticrobotic commented on #63
Interesting batch this year! Here they are:

1. [The power of open source during a pandemic](https://opensource.com/open-organization/20/8/power-open-source-during-pandemic) (by @LauraHilliger and Alexandra Machado)
2. [Building a community of practice in 5 steps](https://opensource.com/open-organization/20/2/building-community-practice-5-steps) (by Tracy Buckner)
3. [Never enough: Working openly

[2020-12-15 12:46] semioticrobotic commented on #63
The @open-organization/ambassadors bringing the heat, once again. Congratulations to everyone. We'll be publishing this some time over the winter holiday. Specific date coming soon.

[2020-12-15 12:56] samuelknuth commented on #63
Cool - it's time for me to come up with something new!

[2020-12-15 22:52] semioticrobotic commented on #63
This'll be published December 20, 2020. Headline pending.

[2020-12-15 23:05] semioticrobotic commented on #38
Noting here that @ldimaggi is interested in publishing on this topic, and I'll work with him.

[2020-12-16 16:11] ldimaggi commented on #48
Actually - I'd like to try to write a different article - sorry - can you mark this one as unassigned? Thanks!

[2020-12-16 16:13] ldimaggi commented on #38
Yes! Please assign this to me!

[2020-12-16 16:35] semioticrobotic commented on #48
Done and done. Thanks, @ldimaggi!

[2020-12-16 16:36] semioticrobotic commented on #38
You're all set!

[2020-12-20 14:33] semioticrobotic commented on #63
Now published as "[5 stories about open principles changing organizations in 2020](https://opensource.com/open-organization/20/12/best-of-2020)."

[2020-12-20 14:33] #63 closed

[2021-01-06 16:38] semioticrobotic opened #64 "How to thrive in our changing work environments"
From @RonMcFarland, the second part of the review of *The Shift*.

[2021-01-07 13:38] semioticrobotic commented on #64
Sending to @trncb to see if he has time/capacity to copy edit.

[2021-01-11 13:20] semioticrobotic opened #65 "A guide to planning the next 50 years of your career"
Part 3 of article series from @RonMcFarland.

[2021-01-11 19:18] semioticrobotic commented on #64
Scheduled to appear Thursday, January 21 as "[How to thrive in our changing work environments](https://opensource.com/open-organization/21/1/thrive-future-work)."

[2021-01-11 23:50] RonMcFarland commented on #64
Just read through it.  It looks good to me.  Ron

On Tue, Jan 12, 2021 at 4:18 AM Bryan Behrenshausen <
notifications@github.com> wrote:

[2021-01-12 12:09] semioticrobotic commented on #64
Thanks, @RonMcFarland. Then we're all set. Great work on this.

[2021-01-19 14:47] #53 closed

[2021-01-19 14:49] LauraHilliger opened #66 "Open Organizations and neurodiversity"
new series, featuring audio interviews, and potential new (shorter) book?

[2021-01-19 16:41] samuelknuth commented on #66
Sounds great - there are a lot of angles to this. In terms of formats, I think I'm most interested in articles and short videos. Articles because we know how to do those well, and short videos because they are easy to distribute and popular to share on social media. Audio I find a bit more challenging unless we want to establish a podcast, which I think is another level of effort.

[2021-01-19 17:39] semioticrobotic commented on #66
We kicked off 2019 with a similar discussion and [have documented the fruits of it](https://www.theopenorganization.community/t/open-organizations-and-cognitive-diversity-series-planning/44). Perhaps a starting point, @samuelknuth and @LauraHilliger?

[2021-01-19 18:36] samuelknuth commented on #66
That is so interesting to see - I missed that and it certainly is quite relevant. I wasn't aware of that when I wrote my pieces on this topic last fall/winter.

[2021-01-19 18:57] semioticrobotic commented on #66
I'm sure that we can refine what we articulated way back when, but in many ways I think the gist of it all still holds up!

Obviously, we need to add @samuelknuth article series to the list!

[2021-01-20 11:14] LauraHilliger commented on #11
From the 2021 strategy session:
Potential content - how to handle performance issues on your team as a manager when following the open management practices / open leadership (I believe @amatlack was thinking about this?)

[2021-01-20 11:18] LauraHilliger opened #67 "Draft an Open Leadership Definition"
We discussed researching and documenting this topic in 2021 strategy session. We want to create a definition of Open Leadership as we did for Open Principles. Other issues to be filed :)
- What is "open" about "open leadership"?
- Ben: I wonder how we might make a low entry point tool that organizations can use to help them take early steps toward being more open? This is especially a desire for l

[2021-01-20 11:19] LauraHilliger opened #68 "Open Leadership case studies"
research for #67
one page examples/case studies "action-result" of the use of open org leadership values - MBAs use case studies to learn application of material so I think this might resonate with the audience

[2021-01-20 11:20] LauraHilliger opened #69 "Identify potential interviewees"
Identify potential interviewees for audio/video (BB + interested stakeholders)

[2021-01-20 11:21] LauraHilliger opened #70 "Generate a "shortlist""
of potential article/chapter ideas on this subject (BB + interested stakeholders)

[2021-01-20 11:21] LauraHilliger opened #71 "Write a mission/vision statement for Open Leadership Definition work"
or purpose statement, defining what we're aiming at

[2021-01-20 11:23] LauraHilliger commented on #71
Perhaps we revisit (from me, @jenkelchner and Heidi) our Open Leadership book ideas
https://docs.google.com/document/d/1xEUHkXdnWvYM6cATJGOaEIra_9SAASFY5kCNDoGfVyQ/edit?ts=5ccc3135#heading=h.jtmee0f99ai3

[2021-01-20 11:25] LauraHilliger opened #72 "Series on talent management"
Create an article (series) on talent management

[2021-01-20 11:34] shabnoorshah commented on #11
Hi Everyone, just realised I missed some conversations here from before. Apologies @semioticrobotic, messages here were totally off my radar. This is the first time I got a notification from this group:).  Considering we are in touch off-line, I'm hoping I didn't miss much.

@Laura, Regarding the new topic "how to handle performance issues on your team as a manager when following the open manageme

[2021-01-20 11:56] LauraHilliger opened #73 "Interview so and so"
this is a dummy issue so i can screenshot, will close :)

[2021-01-20 12:00] #73 closed

[2021-01-20 12:14] LauraHilliger commented on #11
Great @shabnoorshah! If you would like to start writing or if you already have a draft post on this topic, post a link (to a google doc maybe?) and I'm sure we can get some collaboration happening!

[2021-01-20 12:28] amatlack commented on #11
Hey folks, my contribution to planning yesterday was to write something on
handling performance *problems* (not just giving reviews in general) using
open principles, but happy to bow out if someone else wants to take the
topic.

On Wed, Jan 20, 2021, 7:14 AM Laura Hilliger <notifications@github.com>
wrote:

[2021-01-20 12:38] semioticrobotic commented on #11
Thanks for the clarification, @amatlack. It sounds to me like we've got two angles on "performance" that we can therefore address: "performance issues" and "performance reviews." Maybe we make these two articles in the same series, then do a video interview/roundtable to summarize and explore?

[2021-01-20 12:46] semioticrobotic commented on #72
@JosGroenNL indicates that this is currently being drafted and translated!

[2021-01-20 12:49] semioticrobotic commented on #71
Some additional context from the 2021 strategy session: The group identified "open leadership" as a shared area of interest and suggested exploring a longer-term project to research and draft something like an "Open Leadership Definition." Before we did that, however, we thought we might benefit from drafting some kind of shared "vision" for the effort—a kind of abstract or unifying overview that

[2021-01-20 12:50] semioticrobotic commented on #70
Context: This is related to the proposed "Open Organizations and Mental Health" initiative. I'm happy to round up the group interested in sketching a "shortlist" of topics, interview candidates, and case studies we might pursue as part of this work. I think @samuelknuth wanted to be involved, but others should register their interest here!

[2021-01-20 12:52] semioticrobotic commented on #69
I now consider this redundant with #70 and will close. Thanks, @LauraHilliger, for capturing.

[2021-01-20 12:52] #69 closed

[2021-01-20 12:54] semioticrobotic commented on #67
Excellent! First step, I believe, will be tackling #71.

[2021-01-20 13:16] shabnoorshah commented on #11
@LauraHilliger Thanks! What's the time-frame we are looking at. I'll need to update my backlog and prioritize accordingly.

@amatlack I'm happy to pair on this if you like (but no pressure).

[2021-01-20 13:20] amatlack commented on #11
Go ahead if you've got the time. I won't be able to get to it for a while
anyway. :)

On Wed, Jan 20, 2021 at 8:16 AM shabnoorshah <notifications@github.com>
wrote:

[2021-01-20 16:07] ruhbehka commented on #71
I have something like this that a colleague wrote. Let me poke him and see
if he'd interested in getting involved and sharing what he drafted a few
years ago. :)

On Wed, Jan 20, 2021 at 7:49 AM Bryan Behrenshausen <
notifications@github.com> wrote:

[2021-01-20 16:13] ruhbehka commented on #68
We recently invited all Red Hatters to give feedback on a draft of our
updated corporate strategic framework, and made significant changes as a
result. Happy to write something about that process, the challenges and
benefits, etc., in collaboration with some of the other project team
members / sponsors, if it's of interest?

Basically applied the Open Decision Framework, as best as we could, in a

[2021-01-20 16:22] semioticrobotic commented on #68
I think @ruhbehka's idea would make a perfect pilot of this kind of thing. I could see it starting life as an article in the "usual sense," then morphing into something more visually polished for the MBA set.

[2021-01-20 16:30] semioticrobotic opened #74 "Review open culture masterclass experiencing and findings"
Ambassadors @jenkelchner and @LauraHilliger just facilitated [an outstanding program](https://ldr21.com/wp-content/uploads/2020/11/Masterclass-Pilot-Infographics.pdf), "Through the Lens of Culture: A Seamless Government Masterclass," which introduced public sector folks to open principles and practices. The experience led to some interesting findings (especially with regard to impressions of conce

[2021-01-21 00:50] shabnoorshah commented on #67
The definitions I found already existing are as follows:

Red Hat definition "Open leadership is a blend of mindsets, behaviors, and practices that enable people to thrive and contribute in an open organization."

Mozilla: Open leadership is a set of practices and skills people can use to mobilize their communities to solve shared problems and achieve shared goals.

[2021-01-21 00:57] shabnoorshah commented on #68
Let me know if something like this would be useful. Last year we brought Open Leadership and Open Org principles to our Indonesian customer. Have look:https://www.redhat.com/en/resources/indonesian-bank-improved-IT-snapshot

[2021-01-21 08:50] LauraHilliger commented on #67
thanks @shabnoorshah! The "Definition" in this ticket expands towards a framework, like the definition of Open Principles, of which there are 5, and those five are clearly defined. We're seeking to define exactly *what* "mindsets, behaviours and practices" or what that "set of practices and skills" in open leadership are. We have loads of stuff started in this direction. We're looking to collate w

[2021-01-21 09:16] shabnoorshah commented on #67
Hi @LauraHilliger

Thanks for the perspective, background and links.  Brian and I have had some discussions around the topic of "definition". So this is a welcome thread. It's even more heartening to see the development and direction the community is aiming at. Happy to be a part of it.

I  agree with you that we need to define what those "behaviors, practices, and mindsets" are when we refer to O

[2021-01-21 11:41] semioticrobotic commented on #68
Neat! Thanks, @shabnoorshah. This would be useful, since we rarely receive case studies from that region. I'm eager to hear the "story behind the story" of this woefully short single line in the briefing document: *Upskilled its leadership team in open culture and new ways of working.* I'm sure there's an entire article or book chapter in there!

[2021-01-21 12:04] semioticrobotic commented on #64
[Published!](https://opensource.com/open-organization/21/1/thrive-future-work) Great work, @RonMcFarland. I will get started on editing the third part.

[2021-01-21 12:04] #64 closed

[2021-01-21 12:52] semioticrobotic commented on #67
Thanks for this discussion and the links, @shabnoorshah and @LauraHilliger. I'm looking forward to reading them.

The first point from @LauraHilliger's thread-starter—"What's 'open' about 'open leadership'?"—was from me. To my mind, the work of answering this question is the work of composing a definition of open leadership.

Not answering this question means writing a definition of "open leadersh

[2021-01-21 13:39] shabnoorshah commented on #68
You bet... there's a lot we did and I'd be happy to share more. The only constraint is that we can use the customer's name as a public reference ..but there's no reason why we can draw insights based on what we did.

Additionally, we are doing yet another engagement with a Latam customer around open leadership. I'll be happy to share more in Feb-March. That could be a possible public reference. Wi

[2021-01-21 14:00] semioticrobotic commented on #68
Great! Not being able to publish a customer name is no problem. What matters most is the description of your practices, challenges, insights, and takeaways. Would make an excellent chapter in the _Leaders Manual_!

[2021-01-21 16:12] chadsansing commented on #67
Hey, All - joining from Mozilla Foundation land. What a compelling and energizing issue & thread!

@LauraHilliger's link to the Open Leadership Framework provides more detail about the behaviors, practices, and mindsets we identified as key at the time. We also approached the work through our Open Leaders curriculum which eventually split into 2 parallel tracks, one mostly concerned with the ethos

[2021-01-21 17:32] semioticrobotic commented on #67
Wonderful to see you, @chadsansing. And thanks so much for providing all this great context. My eyes had slipped right over that final link from @LauraHilliger outlining the specifics of Mozilla's definition. I look forward to reading.

[2021-01-21 18:34] chadsansing commented on #67
@semioticrobotic - just keep in mind it's years-old and needs a bit of an update :)

[2021-01-21 20:20] samuelknuth commented on #67
Great discussion. Just skimming over the Mozilla material it looks like quite a lot there. That seems to be the kind of the thing I might imagine would come out of this effort (specifically the [framework](https://mozilla.github.io/open-leadership-framework/framework/)). I'd like to read that more closely.

I am curious though what we want to create from this? How do we envision this being used? I

[2021-01-21 21:20] shabnoorshah commented on #67
Great point @samuelknuth , it'll be useful to identify what to focus on and then define the objectives/target outcomes accordingly.  In my view some parts of it could be "academic" (rather rooted in a certain amount of scientific research) for validity to strengthen our arguments, conviction, and confidence, it MUST be something that can largely be practically applied, lived, and experienced by le

[2021-01-21 22:13] semioticrobotic commented on #67
Discussion at the strategy session highlighted two possible outcomes: a definition and a maturity model (this makes sense, since this group maintains the Open Organization Definition and Open Organization Maturity Model, so we "go there" instictively). These are of course only two options (and they are hefty options), which is why we also opened a separate issue about collecting case studies (#68)

[2021-01-21 22:24] kattekrab commented on #67
Hi all!

What distinguishes "Open Leadership" from leadership in more general terms is deeply interesting, and challenging.

Here's another question to consider: Is there anything commonly associated with leadership in general, that is NOT characteristic of Open Leadership and Open Leaders?

For instance, open leaders probably can't depend on positional authority or hierarchical power structures t

[2021-01-21 22:28] semioticrobotic commented on #67
Thank you for this, @kattekrab!

I want to think on it a bit more, but did want to quickly point you to the Open Leadership interview series that OpenOrg Ambassador Heather Leson is spearheading, which to a large extent does what you're suggesting above! You'll see the first piece in the [editorial queue](https://github.com/open-organization/editorial/projects/1).

[2021-01-21 23:06] kattekrab commented on #67
Oh that sounds wonderful.  I'll take a look! Thanks @semioticrobotic

[2021-01-25 17:15] samuelknuth commented on #67
@semioticrobotic thank you - your explanation makes sense to me!

[2021-01-26 06:32] kattekrab commented on #67
At linux.conf.au this weekend, I took this screenshot during @tobybellwood's talk

Open Leadership
 - Always be looking for transparency
 - Be open to suggestion & correction
 - Embrace failure
 - Understand diversity
 - Become a "lifelong learner"

<img width="1438" alt="Open Leadership - TobyBellwood - 2021-01-25 at 14 34 46" src="https://user-images.githubusercontent.com/172755/105808645-36c1cd

[2021-01-29 16:09] semioticrobotic commented on #65
Scheduled to publish February 5, 2021.

[2021-02-03 18:21] funnelfiasco opened #75 "The flywheel theory of community engagement"
As @semioticrobotic and I discussed, I have an article in the works about the role a "flywheel" plays in sustainable community efforts

[2021-02-04 14:41] semioticrobotic commented on #67
Also want to leave a notes about the excellent [Awesome Leadership and Management](https://github.com/LappleApple/awesome-leading-and-managing) list, curated by our own @LappleApple. Lots of great grist there.

[2021-02-10 19:30] semioticrobotic commented on #65
[Published](https://opensource.com/open-organization/21/2/career-plan-50-years)! Great work, @RonMcFarland.

[2021-02-10 19:30] #65 closed

[2021-02-10 20:03] semioticrobotic opened #76 ""Going out of your way to be open": An important practice for executive leaders"
This is the first part of @HeidiHVL's interview with @samuelknuth for the Managing with Open Values series.

[2021-02-10 20:04] semioticrobotic commented on #76
Under view with me now!

[2021-02-11 12:32] LauraHilliger commented on #67
Saw this from @wiobyrne and made a note-to-self to post to this thread because I know he's quite open :)

https://wiobyrne.com/leadership-roles-skills-and-you/

[2021-02-16 14:18] semioticrobotic commented on #76
Edited and back to @HeidiHVL for review.

[2021-02-16 18:20] semioticrobotic opened #77 "Practicing transformational leadership"
New writing from @JosGroenNL on his specific approach to transformational leadership.

[2021-02-17 12:36] wiobyrne commented on #67
Thank you for pinging me @LauraHilliger. This has me thinking a bit about leadership and open.

I wrote [this piece](https://wiobyrne.com/moving-toward-transparency-in-higher-education/) with a colleague a couple of years ago as our department was closing up. Looking at transparency of mission, action, metrics, and stakeholders.

Still unpacking all of the great stuff you all shared. More to come.

[2021-02-17 20:09] semioticrobotic commented on #67
Wow! Thanks for this great link, @wiobyrne. I hope this is not too forward, but I feel compelled to ask: Would you consider submitting this (or a version of this, if you'd like to update/revise) for our community's [*Open Organization Guide for Educators*](https://github.com/open-organization/open-org-educators-guide)? I think it'd be a fantastic addition to that book (pinging book editor @enginee

[2021-02-17 20:52] wiobyrne commented on #67
Hi all, @semioticrobotic I think I could revise the piece for the guide. Let me know the next steps.

In terms of this thread, I'll keep thinking/looking through old ideas. The piece that I shared (and the one that @LauraHilliger shared) focuses on different levels of leadership. That is, the viewpoint from the one leading to the viewpoint of someone in the group/organization.

There is also the p

[2021-02-18 17:21] semioticrobotic commented on #67
(Thanks, @wiobyrne! Created [a new issue](https://github.com/open-organization/open-org-educators-guide/issues/40) for us.)

[2021-02-21 01:33] ldimaggi commented on #38
Finally started working on this - will have a first draft soon!

[2021-02-21 15:19] semioticrobotic commented on #38
Received initial draft from @ldimaggi and reviewing!

[2021-02-22 15:06] semioticrobotic opened #78 "Elevating open leaders by getting out of their way"
Incoming article from @JosGroenNL in his series on open organizations and talent management. Will include video component.

[2021-02-22 15:07] semioticrobotic opened #79 "To be an open leader, listen to your heart"
Incoming article from @JosGroenNL in his series on open organizations and talent management. Will include video component.

[2021-02-22 15:08] semioticrobotic opened #80 "Optimal flow: Building open organizations where leaders can emerge"
Incoming article from @JosGroenNL in his series on open organizations and talent management. Will include video component.

[2021-02-22 15:10] semioticrobotic opened #81 "To nurture open leaders, managers must learn to let go"
Incoming article from @JosGroenNL in his series on open organizations and talent management. Will include video component.

[2021-02-22 15:10] semioticrobotic opened #137 "To nurture open leaders, managers must learn to let go"

[2021-02-22 15:11] semioticrobotic opened #82 "What next-generation leaders expect: the choice to work openly"
Incoming article from @JosGroenNL in his series on open organizations and talent management. ~~Will include video component.~~

[2021-02-22 18:54] jenkelchner opened #83 "YouTube Intro to Open Org Channel"
- To create a 60-second channel video on who we are
- Can possibly use for RH Summit
- Contributors welcome to help script it - keeping it simple for now

[2021-02-22 19:41] semioticrobotic commented on #83
Thanks for kicking this off. Love the idea of repurposing this for our booth at Red Hat Summit.

I have some pre-existing materials that may help us get started—even if they serve only to demonstrate what we don't want to do.

[2021-02-22 19:43] funnelfiasco commented on #83
I'd be happy to help with scripting, on-air talent, editing, or any of the above.

[2021-02-22 19:47] semioticrobotic commented on #83
:point_up: This dude knows how to make some killer short vids. Puppets, perhaps?

[2021-02-22 19:53] samuelknuth commented on #83
I'd love to help, too

On Mon, Feb 22, 2021 at 1:47 PM Bryan Behrenshausen <
notifications@github.com> wrote:

--

Sam Knuth

(he/him)

Sr. Director, Customer Content Services & PnT Associate Experience

Global Chair, Neurodiversity Community

Red Hat <https://www.redhat.com/>

M: +1-612-840-1785
<https://red.ht/sig>

[2021-02-22 22:58] semioticrobotic commented on #83
Now that's a posse! @jenkelchner, just let us know your preferred way to collaborate.

[2021-02-25 12:44] jenkelchner commented on #83
@funnelfiasco @samuelknuth @semioticrobotic - I've started a doc for async work, also happy to open a zoom channel if/when we are at that point of production.

[2021-03-01 07:12] waisean commented on #67
Off topic to this thread, I've done a little thinking on this recently, with hopes of doing more and maybe trying to write something or throw a talk together around InfoSec and Open Orgs/ODF, though I need to do a lot more reading and diving into things like the OSSF and OISF to see what they've generated. I think there's room around what they've done with regards to how a security team can operat

[2021-03-01 07:15] waisean commented on #70
I'd be interested in helping out here in some capacity! I've got ADHD so these conversations are relevant to my interests. I could also probably wrangle up some people from my company's neurodiversity D&I community if there were some specific topics to discuss, or if you were looking for some people to interview.

[2021-03-01 20:14] semioticrobotic opened #84 "Sustainable economic development begins with open thinking"
First article in a new series on open organizations and sustainable development from Ron McFarland.

[2021-03-01 20:16] semioticrobotic commented on #84
I've just finished the first round of editorial work with @RonMcFarland and sent the piece to @trncb for additional copyediting help.

@jenkelchner, @RonMcFarland will be recording a short video presentation to accompany this. Please let us know if you have any guidance! Otherwise, we'll simply plan on calling each other, talking through it, and recording.

[2021-03-01 20:26] semioticrobotic commented on #76
This is currently under review with @samuelknuth.

[2021-03-01 20:31] semioticrobotic commented on #67
Love this idea, @waisean! Something along the lines of "Who says open organizations can't have secrets?" would be a nice piece—particularly for the [Guide to IT Culture Change](https://opensource.com/open-organization/resources/culture-change).

[2021-03-01 20:35] semioticrobotic commented on #70
That's really great, @waisean! I don't know if you're connected to the planning discussion at ``theopenorganization.community``, but that's [a great place to dive in](https://www.theopenorganization.community/t/open-organizations-and-cognitive-diversity-series-planning/44) and offer up some ideas. I'd love to hear your thoughts.

[2021-03-01 21:00] semioticrobotic commented on #83
Added some thoughts and script "treatments" to the document today for comment, critique, and building.

[2021-03-01 21:58] waisean commented on #70
I'll jump over there, I hadn't found that particular thread yet. Thanks!

[2021-03-02 13:11] jenkelchner commented on #84
@semioticrobotic @RonMcFarland - the Guide I've put together should give you some tips to help make it easy and smooth.   Whoever is holding the recording, can follow the upload steps posted in the guide. We can sync up from there on schedules and any need edits etc!!

[2021-03-02 13:18] jenkelchner commented on #70
@semioticrobotic I'll make sure we tie this into the video series @samuelknuth and I have been chatting about!

[2021-03-02 14:05] semioticrobotic commented on #84
Roger that! We will do our best to make you proud.

[2021-03-03 17:39] trncb commented on #84
@RonMcFarland @semioticrobotic I have made my first pass at the first article. If you could review that would be great, thanks.

[2021-03-03 18:26] semioticrobotic commented on #84
Really great work on this, @trncb. Thanks so much. I reviewed and accepted the revisions, but will let @RonMcFarland respond to your comments. Then I think we're all set. @jenkelchner: @RonMcFarland and I have a video recording session on the calendar.

[2021-03-03 20:35] semioticrobotic commented on #38
Initial draft edited and back to @ldimaggi for review. Nice work!

[2021-03-04 13:33] semioticrobotic commented on #84
This is now [in production](https://opensource.com/open-organization/21/3/sustainable-development-environment) and awaiting video recording.

[2021-03-04 13:58] semioticrobotic opened #85 "Community roundtable video for Summit"
We'd like to record a short, informal "roundtable discussion" featuring members of the @open-organization and @theopensourceway projects in conversation with one another. We'll feature this recording in our virtual booth at [Red Hat Summit](https://www.redhat.com/en/summit).

The idea here is to get members of the two projects talking about the importance of sharing open-related knowledge, challen

[2021-03-04 14:38] samuelknuth commented on #85
I'd like to participate

[2021-03-04 14:39] jenkelchner commented on #85
I'm definitely in!

[2021-03-04 15:33] semioticrobotic commented on #85
Great! Many, many thanks to you both. I'll be following up with scheduling details as soon as I have them. I promise to make this as small a brain on your time as possible!

All others are welcome too, of course. Just let me know.

[2021-03-05 14:12] semioticrobotic commented on #84
Okay, @jenkelchner! We did it!

We had to stop and restart a few times (maybe four or five?) due to some flubs from the host (read: me) and dropped connections. But we tried to cleanly and clearly indicate the breaks so they're easy for you to edit around.

The video is rendering as I type this and will drop in your inbox ASAP.

[2021-03-05 15:15] semioticrobotic commented on #62
@HeidiHVL and @JosGroenNL are making this is video-first series of conversations. Will update @jenkelchner when we have the draft footage.

[2021-03-05 15:22] semioticrobotic commented on #76
Proofs finished and now with reviewers.

[2021-03-05 16:40] semioticrobotic commented on #78
Edited and back to @JosGroenNL for review. I made some basic line edits, shuffled a few paragraphs, and posed one or two comments/questions for @JosGroenNL in the margins.

[2021-03-07 17:39] trncb commented on #38
@semioticrobotic @ldimaggi I have completed my first pass on the article. If you could review and update/comment, that would be great thanks.

@ldimaggi great article. Burnout is something I struggled with last year but didn't realise it until late in the year. So your article is very relatable at the moment. Thank you for writing it.

[2021-03-07 23:43] ldimaggi commented on #38
Thanks Bryan and Terence - I accepted the suggestions and replied to the
questions - please have a look.

Thanks again for the editing!

On Sun, Mar 7, 2021 at 12:39 PM Terence <notifications@github.com> wrote:

--
I respect your work/life balance, no need to reply to this email if it is
outside of your normal working hours.
<https://source.redhat.com/groups/public/well-being-focus-areas-emea/well

[2021-03-08 12:58] semioticrobotic commented on #38
Great work, all. Thanks very much, @trncb, for your keen eye and great suggestions, and @ldimaggi for cleaning this up so quickly. I think we're all set. I'll get it into production right away and report on a proposed publication date when I can.

[2021-03-08 13:00] ldimaggi commented on #38
Thanks Bryan and Terence!

OK - time to start the next article!   ;-)

On Mon, Mar 8, 2021 at 7:59 AM Bryan Behrenshausen <notifications@github.com>
wrote:

--
I respect your work/life balance, no need to reply to this email if it is
outside of your normal working hours.
<https://source.redhat.com/groups/public/well-being-focus-areas-emea/well_being_focus_areas_emea_wiki/emails_emails_emails_outsi

[2021-03-08 13:10] semioticrobotic commented on #78
Reviewed @JosGroenNL edits and awaiting final approvals to move to production.

[2021-03-08 17:03] LauraHilliger commented on #85
🖐️ I'd like to help too! Am I too late? At the moment, I'm missing all the OpenOrg things because of scheduling, but my "decline" is only because my Tues/Thurs are loaded at the moment. Does not indicate lack of interest ;)

[2021-03-08 17:18] ruhbehka commented on #85
Happy to help, if you need more voices. Happy to step back, if you have
plenty. :)
-----

Rebecca Fernandez

She / Her / Hers

Sr. Principal Program Manager, Open Culture

Red Hat <https://www.redhat.com>

On Mon, Mar 8, 2021 at 12:04 PM Laura Hilliger <notifications@github.com>
wrote:

[2021-03-08 19:06] semioticrobotic commented on #38
Schedule for publication on March 11, 2021!

Will liaise with @JosGroenNL and team about preparing potential posts to LinkedIn.

[2021-03-08 19:10] semioticrobotic commented on #85
Of course, @ruhbehka and @LauraHilliger! You are always welcome.

Participants have a recording session scheduled for Tuesday, March 09. I will add you both to the calendar invitation and cross fingers and toes that you're able to make it. Would love that.

[2021-03-09 14:23] semioticrobotic commented on #67
Today @HeidiHVL held a great information/planning session concerning this work, and discussion was both lively and productive. We [recorded our chatter](https://bluejeans.com/s/EJc8avxIxGX/) and all are welcome to review, comment, and participate.

[2021-03-09 16:22] LauraHilliger commented on #85
Maybe a stupid Q but for future reference on these kinds of events, would it have been appropriate to drop in late? Would have loved to have joined, but wasn't done with my charities until several minutes after 5pm and didn't want to mess up the recording...

[2021-03-09 23:32] semioticrobotic commented on #62
This video is now in production for @jenkelchner review. Some notes from me:

- It could really use a better title and description. I admit that I did not have time to come up with anything more compelling.
- Video requires a title card (apologies again—lacked the time to make and add the card)
- @HeidiHVL and @JosGroenNL have indicated that this conversations video does not require editing.

[2021-03-10 12:19] jimmysjolund commented on #62
Is the recording available somewhere?

[2021-03-10 12:46] semioticrobotic commented on #62
It will be soon, @jimmysjolund! @jenkelchner is reviewing the video and preparing it for publication on our new YouTube channel. Release date is at her discretion.

[2021-03-10 12:47] semioticrobotic commented on #8
You got it, @ldimaggi. Assigning!

[2021-03-10 12:49] semioticrobotic commented on #72
Each article in this series is now tracked in its respective issue (#78, #79, #80, #81, and #82), so I'm closing this issue to focus attention on those.

[2021-03-10 12:49] #72 closed

[2021-03-10 13:25] jimmysjolund commented on #62
Ok, what I'm wondering is if it will be possible to review before publication? Like in a github repo?

[2021-03-10 13:46] jenkelchner commented on #62
@jimmysjolund if you are wanting to be co-editor on projects please let me know.  I'd need to grant you access to the channel and also have a brief discussion.

[2021-03-10 13:59] jimmysjolund commented on #62
I'm not sure what co-editor would mean, but as a trained sound engineer I'm curious on sound, EQ, sync with video, etc and perhaps could have input before release?

[2021-03-10 14:03] jenkelchner opened #86 "Ask the Ambassadors EP01"
First of a quarterly series for questions to be answered by Ambassadors in a Roundtable. Scheduled for May 6, 8:00AM EST
Gather questions via GitHub, LinkedIn and Twitter - and Summit possibly.

Episode answers this question:

[2021-03-10 14:23] jimmysjolund commented on #86
This sounds fun and I'm not (yet) booked on that date, ping @jenkelchner .

[2021-03-10 14:26] funnelfiasco commented on #86
Count me in! @jenkelchner

[2021-03-10 15:37] jenkelchner commented on #62
Ah, I see.  Well, we created the most simple process for the Ambassadors to do videos and would not require editing on any front. And to keep videos informal as well. I made a guide in our Ambassador files for the best setup and recording options.

We can dig more into this on our call next week if you'd like.

[2021-03-10 15:55] jenkelchner opened #87 "Human at a Distance | Book Promo"
Create a short promo via roundtable chat on the latest Open Org guide Human at a Distance.

Would like to coordinate with key contributors on the book, top tips and process that would get more eyes on the work.

Recording Date: March 24 2021 10AM EST
Release Date: estimate April 1 2021

@LauraHilliger @semioticrobotic and any other key contributors

[2021-03-10 19:27] jimmysjolund commented on #87
If we can find a suitable time I'd interested!

[2021-03-10 22:01] semioticrobotic commented on #86
Love this idea! If three isn't too much of a crowd, I will join, @jenkelchner. But feel free to give my spot to someone who hasn't been on the channel yet.

Closer to the date, I can schedule a tweet requesting community questions.

[2021-03-10 22:05] semioticrobotic commented on #87
Making sure to put this on @amatlack and @anupama23-tec radar, because I bet they'd love to join, too.

Seems like you've got this one covered, but I'm happy to act as a stand-in if needed.

[2021-03-10 22:22] semioticrobotic commented on #76
Scheduled to publish on March 18.

[2021-03-11 09:51] samuelknuth commented on #86
I am happy to join any time - if not this one the next one. Just let me
know what is most helpful.

[2021-03-11 13:38] semioticrobotic commented on #38
[Published!](https://opensource.com/open-organization/21/3/open-approach-burnout). Great work, @ldimaggi.

I think @JosGroenNL may like to post a reference to this article on LinkedIn. I'll be promoting on Twitter shortly.

[2021-03-11 13:38] #38 closed

[2021-03-11 13:55] amatlack commented on #87
Sure, happy to contribute if you need additional folks!

[2021-03-11 15:31] jenkelchner commented on #87
Thanks everyone - love this list of folks.  Can we begin to coordinate a time for 30-45 mins in the next 2-4 weeks? I will throw out that Wednesday mornings work (potentially) and early morning EST.  That is if I'm going to moderate.  If Bryan can moderate and record, that is also an option.

[2021-03-11 15:36] funnelfiasco commented on #87
Let's fill out this [WhenIsGood](https://whenisgood.net/td84kz5) to figure out a time that'll work. Wednesday mornings tend to be awful for me :-)

[2021-03-11 20:29] JosGroenNL commented on #38
Just posted it on our LinkedIn! Please join the conversation….. https://www.linkedin.com/feed/update/urn:li:activity:6775873662311571457 <https://www.linkedin.com/feed/update/urn:li:activity:6775873662311571457>

[2021-03-13 20:16] semioticrobotic commented on #78
Scheduled for publication on March 25, 2021.

[2021-03-15 13:54] funnelfiasco commented on #87
Well it seems @semioticrobotic and @LauraHilliger have mutually exclusive schedules. Meetings are hard!

@jenkelchner @jimmysjolund @amatlack if you can [indicate your availability](https://whenisgood.net/td84kz5) we can try to come up with the least-bad time.

[2021-03-15 14:00] amatlack commented on #87
@funnelfiasco done! not sure it's helpful though :)

[2021-03-15 14:11] semioticrobotic commented on #87
Ha! I'm not surprised. Please don't let me be the blocker. I can gladly sit this one out, removing some constraints so @LauraHilliger can participate.

[2021-03-15 15:05] jimmysjolund commented on #87
Not much availability for me such times and sadly it changes by the minute.

[2021-03-15 16:36] semioticrobotic commented on #87
Additionally, if you'd like me to, rather than participating in the panel itself, I can commit to recording, say, a two- or three-minute introduction that explains the book, the series, the context, the process, etc., and previews the panel itself, so ya'll don't need to do that kind of setup and can just get right to the discussion. Just a thought.

[2021-03-15 18:08] semioticrobotic commented on #62
@jenkelchner I have updated the video title and description with generous assistance from @HeidiHVL. I also added a card (thank you for the helpful template).

This is ready for your review. I would ask you to please take a look at the beginning, where there's some audio/video glitchiness and blue screening as the interviewers come online. I tried to cut that out, but couldn't figure out how to wo

[2021-03-15 19:51] semioticrobotic commented on #85
I'm reviewing the product of our work today, working with @quaid to add some smoothness. So far, looking really great.

[2021-03-15 21:03] funnelfiasco commented on #87
Based on the feedback, I propose Wednesday 24 March at 10am Eastern Daylight Time. Can you moderate then, @jenkelchner ?

[2021-03-16 11:08] LauraHilliger commented on #87
Great! I've made a note in my calendar already so it doesn't get scheduled over, but please do someone send an invite when we're confirmed :)

[2021-03-16 11:09] semioticrobotic commented on #87
Noice. Able and willing. Looking forward to it.

[2021-03-16 11:59] jenkelchner commented on #87
Yes, let's set this one up and I'll send out the invite!

[2021-03-16 12:24] jenkelchner commented on #62
@semioticrobotic the processing on the edit will be done shortly and the video will be able to be scheduled. Do you have a schedule date on your end I need to set it to?

[2021-03-16 13:53] semioticrobotic commented on #62
No coordinating article on my end! This is our first "video-only" piece. So scheduling is entirely at your discretion.

My typical next step is to send the pre-publication item to the creator for final review (thus my clever name for this column in the board!). Creators can read/watch/review and offer final approval or corrections. This is easier to do with print, so whether to do it with video is

[2021-03-16 14:21] JosGroenNL commented on #62
He Bryan,

I need your help here. Where can I watch the content? Need to find my way in the portals and systems.

Jos

[2021-03-16 14:32] semioticrobotic commented on #62
I *think* @jenkelchner has to get you set up with an account capable of reviewing pre-publication content (or upgrade your YouTube account to be able to do it, or some such thing). Will let her advise us (right now she's on the phone with @HeidiHVL).

[2021-03-16 15:01] HeidiHVL opened #88 "Balancing People and Business (Open Leadership Conversations, Jos Groen Part 2)"
Second interview for youtube with Jos Groen in the Open Leadership Conversations playlist. @jenkelchner @semioticrobotic (FYI)

TBD:
- [x] Title
- [x] Description
- [x] Bio
- [x] Links
- [x] Hashtags
- [x] Slide thumbnail

[2021-03-16 17:05] JosGroenNL commented on #62
👍

Met vriendelijke groet,

Jos Groen

[2021-03-16 17:23] jenkelchner commented on #62
Video is live: https://www.youtube.com/watch?v=07YBs0ss9rU

We will need to coordinate any social posting.

[2021-03-16 19:03] JosGroenNL commented on #62
Soo cool! Nice piece of work!

[2021-03-16 20:32] semioticrobotic commented on #62
[Promoted on Twitter](https://twitter.com/openorgproject/status/1371921051895091204)!

[2021-03-23 13:55] semioticrobotic commented on #76
Published on time! Sorry; I was unexpectedly away and only tended to this now. Nice work, all!

[2021-03-23 14:01] semioticrobotic commented on #76
[Promoted on Twitter.](https://twitter.com/openorgproject/status/1374360076648071168). @JosGroenNL, please consider for LinkedIn.

[2021-03-23 21:56] semioticrobotic commented on #62
Looks like promoted on LinkedIn, too. Great job, all.

[2021-03-23 21:56] #62 closed

[2021-03-23 21:56] semioticrobotic commented on #76
He did! Thanks. All done.

[2021-03-23 21:56] #76 closed

[2021-03-25 11:51] semioticrobotic commented on #78
[Published!](https://opensource.com/open-organization/21/3/open-spaces-leadership-talent) Nice work, @JosGroenNL,

[2021-03-25 11:51] semioticrobotic commented on #78
### Promotion checklist

- [ ] Promote on Discourse
- [ ] Promote on Twitter
- [ ] Promote on LinkedIn

[2021-03-25 18:16] semioticrobotic commented on #79
Draft edited, and back with @JosGroenNL for review.

[2021-03-25 18:20] semioticrobotic commented on #78
Looks like @JosGroenNL promoted this, too! All set. Great job, team.

[2021-03-25 18:21] #78 closed

[2021-03-25 18:45] JosGroenNL commented on #78
Yes I did on LinkedIn!

Met vriendelijke groet,

Jos Groen

[2021-03-30 13:01] semioticrobotic commented on #87
I will update the March report to include this publication!

[2021-03-30 13:16] semioticrobotic commented on #87
https://twitter.com/allisonsm7/status/1376883578802429958

[2021-03-30 13:21] semioticrobotic commented on #84
@RonMcFarland and @semioticrobotic re-recorded the video and the second iteration is much better than the first. Currently preparing video for @jenkelchner and a little assistance editing the beginning and end, to remove our setup and clean up our conclusion.

[2021-03-30 14:31] semioticrobotic opened #89 "Modeling open management practices"
This will be the second piece in @HeidiHVL's interview series with @samuelknuth. It's part of the ongoing  "Managing with Open Values series."

[2021-03-30 19:01] semioticrobotic commented on #87
Looks like this one's a wrap. Awesome collaboration, team!

[2021-03-30 19:01] #87 closed

[2021-03-31 13:04] semioticrobotic commented on #84
Okay, @jenkelchner!

@RonMcFarland and I have prepared the video component of this article for your review and signoff.

We need a little help trimming the beginning and end of the video (to remove our setup and banter).

It's [right here](https://youtu.be/L_YiiA0J7JM).

[2021-04-01 15:08] semioticrobotic commented on #79
Second draft edited and back with @JosGroenNL for second review.

[2021-04-01 15:15] semioticrobotic commented on #84
I know I need to get better at using the basic YouTube editing tools, so I tried my hand at trimming the beginning of this video. It's processing now. Will have @jenkelchner check my work when it's all done. :smile:

[2021-04-04 21:31] semioticrobotic commented on #79
This is now in production with Opensource.com.

[2021-04-06 13:03] semioticrobotic commented on #79
Scheduled for publication April 09, 2021.

[2021-04-08 11:43] semioticrobotic commented on #84
Question for @jenkelchner: Do you think you will have time to review/finalize/approve the video portion of this piece by some time next week? Would be great to publish, as we currently have nothing else on the calendar then. If not, no worries.

[2021-04-08 17:46] semioticrobotic commented on #85
We're now preparing this for publication in our Summit booth.

[2021-04-08 19:52] HeidiHVL commented on #88
TITLE
Balancing People and Business, Open leadership conversations
Jos Groen part 2

io - whatever was used before in part 1. Tag me if you need new/whatever.

Description
Heidi Hess von Ludewig continues her conversation with Jos Groen about open leadership and the need to balance people and business.

The slide thumbnails are here in google drive
https://docs.google.com/presentation/d/1agnwoNVR3

[2021-04-09 11:14] LauraHilliger commented on #86
I'm quite late in seeing this issue, but could be available May 6th if still appropriate? Otherwise happy to join whenever

[2021-04-09 11:40] semioticrobotic commented on #86
I'm sure we can rustle up lots of great questions from attendees in our booth at Red Hat Summit this month.

[2021-04-09 12:07] LauraHilliger commented on #67
Feel like the ThinkSpace document is starting to be an answer to this ticket...not sure if it's linked above, but here's where this is starting to form: https://docs.google.com/document/d/1F8pxpbnkJLPzw3bHAxm5tZD6zksDagWZIh724t17cmU/edit#

[2021-04-09 16:10] semioticrobotic commented on #79
[Published](https://opensource.com/open-organization/21/4/open-leadership-listen-heart)! Great work, @JosGroenNL.

[2021-04-09 16:10] semioticrobotic commented on #79
### Promotion checklist

- [ ] Promote on Discourse
- [ ] Promote on Twitter
- [ ] Promote on LinkedIn

[2021-04-10 07:37] JosGroenNL commented on #88
He Heidi,

Great work again! I’m exited about it and feel an happy feeling thinking about continuing this series if the time is right.
When will this be published?

Jos

[2021-04-10 07:37] JosGroenNL commented on #79
Thanks for your good work and commitment to get the best out of it!

Jos

[2021-04-10 18:50] semioticrobotic commented on #67
Thanks, @LauraHilliger. Anyone seeking access can ping me and I'll provide it. The goal here is to create a sketch/architecture—however tentative and drafty—and get it into a more open place with fewer barriers to contribution from a wider group.

[2021-04-11 13:55] semioticrobotic commented on #85
@semioticrobotic and @quaid reviewing final video embedded in Summit booth. So far, it's looking great!

[2021-04-12 21:43] semioticrobotic commented on #88
Great! Scheduling for all multimedia publications is at @jenkelchner discretion, so I will leave that question to her.

[2021-04-13 13:20] semioticrobotic opened #90 "Building open organizations to make a better life more sustainable for everyone"
Next piece from @RonMcFarland in his series on open organizations and sustainable development.

[2021-04-13 13:21] semioticrobotic commented on #90
@RonMcFarland and I have finished our drafting and I've asked @trncb if he'd have a moment to review for us.

[2021-04-13 14:37] jenkelchner commented on #88
Sorry guys, I had no notification - I'll adjust my github pushes for next time. I'll drop this in my queue!

[2021-04-13 14:39] jenkelchner commented on #86
@LauraHilliger  I'll add you to the invite

[2021-04-13 14:40] jenkelchner commented on #84
Apologites I'm not receiving my notifications from here at all. Will do a reset on my github things.  I can try to get this done today ...

[2021-04-13 14:53] jenkelchner commented on #84
@semioticrobotic - this has been pushed to public and ready for a go....

https://youtu.be/L_YiiA0J7JM

[2021-04-13 15:10] semioticrobotic commented on #84
No apologies necessary, @jenkelchner. We really appreciate your taking a look and helping ensure that we're going out with our best foot forward.

Moved back to scheduling because we're planning to "dual launch" both the article and the video. Great to see that the video is now public, because it'll be ready to go as soon as we post the article. I will work with the team to get it scheduled right

[2021-04-13 15:33] jenkelchner commented on #88
This video is in a editing/processing mode on YT. it will complete within a few hours and it will then be public/live.  Feel free to move forward.  https://www.youtube.com/watch?v=qkskAAyFgz8

@HeidiHVL thank you for the information this time that really helped move that aspect through the hoops.  Still prefer everyone uploads direct to YT a as long term process solution as it takes up my resource

[2021-04-13 16:05] semioticrobotic commented on #88
Nice! Thanks, @jenkelchner.

[2021-04-13 16:06] semioticrobotic commented on #88
### Promotion checklist

- [ ] Announce on Discourse (@jenkelchner)
- [ ] Announce on Twitter (@semioticrobotic)
- [ ] Announce on LinkedIn (@JosGroenNL)

[2021-04-13 16:17] semioticrobotic commented on #84
Schedule to appear Friday, April 23, 2021 as part of a special series marking Earth Day.

[2021-04-13 17:01] HeidiHVL commented on #88
@jenkelchner Oh that's right - upload directly!! :) okey dokey! I will remember for next time!

[2021-04-14 03:26] RonMcFarland commented on #84
Jen,

Thanks for that link.  I might want to share the article and the
presentation separately, as some people just don't like to read all that
much.

Ron

On Tue, Apr 13, 2021 at 11:54 PM Jen Kelchner ***@***.***>
wrote:

[2021-04-15 18:51] trncb commented on #90
I have reviewed and made some comments and suggestions.

Another great piece by @RonMcFarland

[2021-04-16 12:14] semioticrobotic commented on #85
This is finished and ready to debut at Red hat Summit on April 27! Many, many thanks to all who participated.

[2021-04-16 12:31] semioticrobotic commented on #90
Thank you :pray:, @trncb, as always! A huge help.

[2021-04-16 12:43] semioticrobotic commented on #90
Astute notes and corrections from @trncb (as usual). We're ready for production now and I'll get right on it next week.

[2021-04-17 08:17] RonMcFarland commented on #90
Bryan,

Sounds good.  Let me know when you're ready for the presentation on that
material.  Have a look at the speaker's notes, and we can discuss how we
would like to present it.

Ron

On Fri, Apr 16, 2021 at 9:43 PM Bryan Behrenshausen <
***@***.***> wrote:

[2021-04-19 21:40] semioticrobotic commented on #90
Thanks, @RonMcFarland. I will certainly look them over. It looks like you want to do this one "interview-style" again, as we did last time. If that's the case, I can send you a note about some times we might schedule a recording session.

[2021-04-20 04:00] RonMcFarland commented on #90
Hi Bryan,

Yes, I think a 2-way discussion is more interesting than me just talking.
Actually, it would be nice if we had small discussions on each slide.   I
think I have questions in the "Speaker's notes", so you can plan your
questions.  Then, we can have a nice flowing discussion.

Ron

On Tue, Apr 20, 2021 at 6:41 AM Bryan Behrenshausen <
***@***.***> wrote:

[2021-04-20 11:22] semioticrobotic commented on #88
@jenkelchner and @JosGroenNL: Would you be able to announce/promote this one on your respective channels so we can wrap this card this week? No preference for the day—just some time before Friday, when we're slated to publish our next piece.

[2021-04-21 19:20] semioticrobotic commented on #90
Working on scheduling recording session with @RonMcFarland.

[2021-04-21 21:28] RonMcFarland commented on #90
Very good.  May 3rd at 9pm (Japan Time) is fine for me.

Ron

On Thu, Apr 22, 2021 at 4:20 AM Bryan Behrenshausen <
***@***.***> wrote:

[2021-04-23 13:57] semioticrobotic commented on #84
[Published today!](https://opensource.com/open-organization/21/3/sustainable-development-environment) Great work, @RonMcFarland.

[2021-04-23 13:58] semioticrobotic commented on #84
### Promotion checklist

- [ ] Promote on Discourse
- [ ] Promote on Twitter
- [ ] Promote on LinkedIn

[2021-04-23 20:23] semioticrobotic commented on #80
Initial edit over to @JosGroenNL for review!

[2021-04-26 17:37] HeidiHVL commented on #79
I promoted on linkedin but i don't know how to change BB's little check box in his list!

[2021-04-26 21:47] semioticrobotic commented on #79
Looks like we got it! Thank you so much for promoting! Looks like this one's in the bag.

[2021-04-26 21:47] #79 closed

[2021-04-27 10:57] LauraHilliger commented on #67
Hi everyone! We've been making loads of progress on the Open Leadership Definition and could use more feedback. I've only just penned a first draft for Adaptability and am happy for any input, especially if you have ideas for more think/act points. Cross posting to our community forum ;)

https://docs.google.com/document/d/1F8pxpbnkJLPzw3bHAxm5tZD6zksDagWZIh724t17cmU/edit#heading=h.t6o900b0dybk

[2021-04-28 10:55] semioticrobotic commented on #86
@jenkelchner made these awesome promotional images to help us collect questions for this episode. I'll be circulating on Twitter starting today.

![Ask_the_Ambassadors_Promo_Twitter](https://user-images.githubusercontent.com/19554310/116392616-a2c7f300-a7ee-11eb-8a09-89cb250497c4.png)

@JosGroenNL might be interested in the LinkedIn version!

![Ask_the_Ambassadors_Promo_LinkedIn](https://user-imag

[2021-04-28 11:38] semioticrobotic commented on #86
... and I've [created a collective space](https://notes.theopenorganization.org/VFgRK_M4QamdSMP4pwpyLw?view) for us to record questions we receive.

[2021-04-28 11:41] samuelknuth commented on #86
Can you add me to the invite?

On Wed, Apr 28, 2021 at 6:38 AM Bryan Behrenshausen <
***@***.***> wrote:

--

Sam Knuth

(he/him)

Sr. Director, Customer Content Services & PnT Associate Experience

Global Chair, Neurodiversity Community

Red Hat <https://www.redhat.com/>

M: +1-612-840-1785
<https://red.ht/sig>

[2021-04-28 12:19] semioticrobotic commented on #86
@samuelknuth, it looks like you're already on the invitation (Thursday, May 06 at 08:00 Eastern).

[2021-04-29 12:55] semioticrobotic commented on #80
Final edits from @JosGroenNL look great. Putting this into production.

[2021-04-30 13:58] semioticrobotic commented on #80
Typeset and pending final approvals.

[2021-04-30 18:07] semioticrobotic commented on #80
Scheduled for May 06, 2021!

[2021-05-03 18:12] semioticrobotic commented on #90
Ron and I have recorded the video component of this package. I am about to upload and render it and will ping @jenkelchner for review when done. Later this week, I will typeset the article.

[2021-05-03 21:57] semioticrobotic commented on #90
The video is uploaded and rendering now. By the time they see this, @RonMcFarland and @jenkelchner should [be able to review it](https://youtu.be/lqwkjzraAXw).

[2021-05-03 22:41] semioticrobotic commented on #90
The article is now also typeset. Ron should be able [to review it if he'd like](https://opensource.com/open-organization/21/5/sustainable-development-human-impacts).

[2021-05-03 22:50] semioticrobotic commented on #85
@quaid tells me that @jenkelchner should have access to this video now. True? Rumors? Either way, we can work to get it uploaded to our channel, customized, and scheduled. I am happy to help if @jenkelchner needs it.

[2021-05-03 22:51] jenkelchner commented on #85
I have it. It is on my to do list for Tuesday.

On Mon, May 3, 2021 at 6:50 PM Bryan Behrenshausen ***@***.***>
wrote:

--
Jen Kelchner
Founder at LDR21
sent via my iPhone please excuse errors

--
Confidentiality Notice: This message, including any attachment(s), may
contain confidential information protected by law. The information
contained herein is for the sole use of the intended recipient(s)

[2021-05-04 11:47] jenkelchner commented on #90
@RonMcFarland @semioticrobotic - video is all good to go and is now public:   https://www.youtube.com/watch?v=lqwkjzraAXw

[2021-05-04 12:04] jenkelchner commented on #85
Video is now up and public:  https://www.youtube.com/watch?v=WTjhqdW7fjk

[2021-05-04 12:13] semioticrobotic commented on #90
We don't yet have a publication date for this article, but I don't think keeping the video public while we wait for the package to be published is a problem. Thanks, @jenkelchner, for your help.

[2021-05-04 12:21] semioticrobotic commented on #85
Nice! That was fast. Thank you, @jenkelchner.

[2021-05-04 12:22] semioticrobotic commented on #85
### Promotion checklist

- [ ] Announce on Discourse
- [ ] Promote on LinkedIn
- [ ] Promote on Twitter

[2021-05-04 16:14] semioticrobotic commented on #90
Scheduled for publication on May 13.

[2021-05-04 20:35] RonMcFarland commented on #90
Thanks!

On Wed, May 5, 2021, 1:14 AM Bryan Behrenshausen ***@***.***>
wrote:

[2021-05-06 11:20] semioticrobotic commented on #80
### Promotion checklist

- [ ] Promote on Discourse
- [ ] Promote on Twitter
- [ ] Promote on LinkedIn

[2021-05-06 12:36] semioticrobotic opened #91 "Ask the Ambassadors EP02"
Episode answers this question:

[2021-05-06 12:37] semioticrobotic commented on #91
Episode recorded featuring @jenkelchner, @funnelfiasco, and @semioticrobotic. Under review with @jenkelchner now.

[2021-05-06 12:37] semioticrobotic commented on #86
Episode recorded featuring @jenkelchner, @funnelfiasco, and @semioticrobotic. Under review with @jenkelchner now.

[2021-05-06 12:38] semioticrobotic opened #92 "Ask the Ambassadors EP03"
Episode answers this question:

[2021-05-06 12:39] semioticrobotic commented on #92
Episode recorded featuring @jenkelchner, @funnelfiasco, and @semioticrobotic. Under review with @jenkelchner now.

[2021-05-06 16:18] semioticrobotic commented on #80
All done! Nice work, everyone.

[2021-05-06 16:18] #80 closed

[2021-05-11 07:45] LauraHilliger opened #93 "Review community feedback on Open Leadership Definition"
Consider audiences for the OLD (can we call it OLD!?) and revise definition for various readabilities. Make this accessible to a wider audience.

[2021-05-11 11:53] semioticrobotic opened #94 "Publish an Open Leadership Definition"
This meta issue tracks all items related to our work on an Open Leadership Definition.

Issues relate to various stages of the editorial process and include:

- [x] Draft the document (#67)
- [x] Circulate the document for community review and feedback (#67 again)
- [x] Revise the document in response to community feedback (#93)
- [x] Revise the document to ensure accessibility to the widest possi

[2021-05-11 12:10] semioticrobotic commented on #86
### Promotion checklist

- [ ] Announce on Discourse
- [ ] Announce on Twitter
- [ ] Announce on LinkedIn

[2021-05-11 13:03] #86 closed

[2021-05-11 19:10] jenkelchner commented on #91
@semioticrobotic this is in YouTube now ready to be scheduled for viewing based on the community needs.

[2021-05-11 19:10] jenkelchner commented on #92
@semioticrobotic this is in YouTube now ready to be scheduled for viewing based on the community needs.

[2021-05-11 22:48] semioticrobotic commented on #91
Awesome. Thanks, @jenkelchner. Let's confer at the next community meeting and set some publications deadlines.

[2021-05-11 22:48] semioticrobotic commented on #92
Looking great. We'll chat and choose the best date and time to go live.

[2021-05-12 11:19] LauraHilliger commented on #93
@semioticrobotic that wasn't meant as a criticism on your awesomeness! I just used the Hemingway app on the Adaptability session and thought "Hm, we're all smartie pantses" 😘

[2021-05-13 12:10] semioticrobotic commented on #90
Published today! Thanks, @RonMcFarland.

[2021-05-13 12:11] semioticrobotic commented on #90
### Promotion checklist

- [ ] Promote on Discourse
- [ ] Promote on Twitter
- [ ] Promote on LinkedIn

[2021-05-13 16:44] jenkelchner commented on #91
@semioticrobotic scheduled for publication on May 19 2021
link will be: https://www.youtube.com/watch?v=zSULnwjOSWg

[2021-05-13 16:45] jenkelchner commented on #92
@semioticrobotic this is scheduled to publish on May 26 2021
Link will be: https://www.youtube.com/watch?v=VdK1-5dHieg

[2021-05-14 12:12] semioticrobotic commented on #81
Edited and sent to @JosGroenNL for review.

[2021-05-14 12:14] semioticrobotic opened #95 "A more sustainable future should be a more open future"
This will be the third and final article in @RonMcFarland  series on open organizations and sustainable economic development. It concerns governance of potential open organizations dedicated to this cause.

Will feature a video component.

[2021-05-14 13:32] semioticrobotic commented on #95
Now edited and returned to @RonMcFarland for review.

[2021-05-14 15:11] JosGroenNL commented on #81
Tx, read it and made some notes to work on later this weekend….

Jos

[2021-05-19 11:49] jenkelchner commented on #91
Ready to promote:
- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-05-19 12:17] semioticrobotic commented on #91
[Tweeted](https://twitter.com/openorgproject/status/1394990464579907587)! Love this episode, @jenkelchner. Great job.

[2021-05-19 12:22] #88 closed

[2021-05-19 12:51] semioticrobotic commented on #95
Article revised and entering production. @RonMcFarland and @semioticrobotic to record final video session in this series.

[2021-05-19 12:59] LauraHilliger opened #96 "New ways to learn about open organizations"
Drafting a post for opensource.com about our anniversary. Pointing to various channels...

[2021-05-19 13:08] semioticrobotic commented on #96
Happy to assist if you would like, @LauraHilliger. Also happy to step aside if you would like. Whatever you need. Thanks for kicking this off.

[2021-05-19 13:10] LauraHilliger commented on #96
@semioticrobotic literally just started, happy to cowrite!! https://docs.google.com/document/d/1Oji3av4WQliq8pJiGNewPEhzcHvjrXRZsHiS5yL5YYc/edit

[2021-05-19 13:50] LauraHilliger commented on #96
OK, I've got a first draft. Feel free to tear it apart. I integrated something about Open Leadership, and I'm not sure that's what we wanted. Needs an ending anyhow, and I didn't include history (but maybe we want to point to https://opensource.com/open-organization/scaling-the-openorg-community   ?

[2021-05-19 20:54] semioticrobotic commented on #96
This is great! Thank you. I made some edits and additions but needed to log off for the night. Left a small outline of my thinking for your feedback. Happy to include more community history in the opening (agree that linking to your series from last year would be perfect).

[2021-05-20 18:16] jenkelchner opened #97 "Meet the Ambassadors Series | Open Org Anniversary"
Create "1 Minute" video for each ambassador to be distributed June 2nd or during month of June  - See Discourse for full details

[2021-05-20 18:24] jenkelchner commented on #97
Scheduled for release on June 2nd

- [ ] Bryan Behrenshausen: https://www.youtube.com/watch?v=6-qY-5V7HNk
- [ ] Laura Hilliger: https://www.youtube.com/watch?v=yrCdnUB3GrM
- [ ] Ron McFarland: https://www.youtube.com/watch?v=YXW2WCjhQVs
- [ ] Jen Kelchner:
- [ ] Jos Groen:
- [ ] Heidi HVL:
- [ ] Ben Cotton:
- [ ] Ben Owens:
- [ ] Jimmy Sjolund:
- [ ] Jonas Rosland:
- [ ] Allison Matlack:
- [ ] Hea

[2021-05-20 21:27] semioticrobotic commented on #97
These look _so good_ :star_struck:. Awesome work, @jenkelchner. Keeping your checklist open and visible is a great idea. Thanks for that.

I will add @semioticrobotic, @LauraHilliger, and @RonMcFarland to my social media promotion list for June 02. If anyone else is ready by then, I can certainly develop more.

[2021-05-21 09:31] LauraHilliger commented on #97
I can't view them (says they're private) but the starry eyes from Bryan make me VERY curious. Thanks Jen :)

[2021-05-21 10:50] RonMcFarland commented on #97
I can't view them either for the same reasons.  Ron

On Fri, May 21, 2021 at 6:31 PM Laura Hilliger ***@***.***>
wrote:

[2021-05-21 10:50] jenkelchner commented on #97
@RonMcFarland  @LauraHilliger - they are set in YouTube and scheduled so the links wont be active until the set date (in this case June 2). Bryan had a sneak peek during the edit process for when we coordinate them.

I add the links here to save us on the editorial process friends ... :)

[2021-05-21 11:28] RonMcFarland commented on #97
No problem.  I can wait.  Ron

On Fri, May 21, 2021 at 7:51 PM Jen Kelchner ***@***.***>
wrote:

[2021-05-21 17:32] ruhbehka commented on #97
Hi all -  I've become a lot more privacy conscious in recent years, as a
woman in tech, and would rather not have a video out there where I'm
highlighted as the only person in it. Hope it's okay to opt out for this
one!

On Fri, May 21, 2021 at 7:28 AM Ron McFarland ***@***.***>
wrote:

[2021-05-24 14:25] jenkelchner commented on #97
@ruhbehka - understand and no worries!! :)

[2021-05-24 18:50] semioticrobotic commented on #81
Typeset and undergoing final review.

[2021-05-25 11:27] #85 closed

[2021-05-25 11:27] #84 closed

[2021-05-25 14:44] semioticrobotic commented on #81
Scheduled to publish on June 11, 2021.

[2021-05-25 19:50] semioticrobotic commented on #96
First draft now under review with @LauraHilliger, @HeidiHVL, and @jenkelchner.

[2021-05-26 10:49] semioticrobotic commented on #92
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-05-26 11:20] semioticrobotic commented on #96
Now in production.

[2021-05-26 12:52] semioticrobotic commented on #96
Scheduled for publication on June 02. Happy anniversary, one and all!

[2021-05-26 14:10] semioticrobotic commented on #67
We've now got a "public beta" open and ready for comment. It's in [a shared folder](https://drive.google.com/drive/folders/1e1N_0p5lJEwAo_s6hQ3OK0KaJIfc7fgF?usp=sharing). We'll be formally announcing the beta release and calling for participation on June 02 (our community anniversary!).

[2021-06-02 11:07] semioticrobotic commented on #96
And [published](https://opensource.com/open-organization/21/6/celebrate-sixth-anniversary)! Many thanks, @LauraHilliger, for kicking off our anniversary celebration.

[2021-06-02 11:08] semioticrobotic commented on #96
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-06-02 13:09] semioticrobotic commented on #95
We've recorded this video and I'll be processing it for @jenkelchner review soon.

[2021-06-02 13:51] semioticrobotic commented on #67
And now we've [officially announced the public draft](https://opensource.com/open-organization/21/6/celebrate-sixth-anniversary)! Thanks, everyone, for your great work so far. I'm eager to see the feedback we receive.

[2021-06-03 15:18] engineerteacher commented on #67
Awesome!

Cheers,

-Ben

Ben Owens

*Co-Founder & Lead Innovation Engineer*
*Open Way Learning* <http://openwaylearning.org/>
706.878.8946
*Co-Author of Open Up, Education!
<https://www.amazon.com/Open-Up-Education-Learning-Transform/dp/1475842007/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr=>
*
* | **National Faculty - PBLWorks
<https://www.pblworks.org/author/ben-owens> | Open Organization Ambass

[2021-06-03 15:25] semioticrobotic commented on #67
It is indeed awesome, @engineerteacher! Great feedback so far, too. Lovely to see.

[2021-06-04 12:35] semioticrobotic commented on #95
Article is typeset and video is currently rendering. I'll update this issue with links for @RonMcFarland and @jenkelchner review.

[2021-06-04 12:47] semioticrobotic commented on #95
Okay!

### Links

- [Article](https://opensource.com/open-organization/21/6/open-future-sustainable-future)
- [Video](https://youtu.be/iDdcG40PyEY)

@RonMcFarland, I'll be writing the usual email to connect with the Opensource.com editorial team. @jenkelchner the video is ready for your review. I was able to (I think) edit the beginning, but could use your assistance with the end (cutting at the a

[2021-06-04 15:22] semioticrobotic commented on #95
Schedule for publication on June 17, 2021.

[2021-06-05 12:57] jenkelchner commented on #95
@semioticrobotic @RonMcFarland - video is finalized and set to publish on June 16, 2021 (3AM EST).

[2021-06-06 22:12] semioticrobotic commented on #95
You rock! Thanks, @jenkelchner!

[2021-06-10 14:10] #90 closed

[2021-06-10 14:12] semioticrobotic commented on #95
Noting here @jenkelchner great idea to re-promote all videos from this series when we publish this final installment on June 17. @semioticrobotic to queue up some tweets. @JosGroenNL may also participate.

- [First article/episode](https://opensource.com/open-organization/21/3/sustainable-development-environment)
- [Second article/episode](https://opensource.com/open-organization/21/5/sustainable-

[2021-06-10 14:14] semioticrobotic opened #98 "Promoting open organizations in non-profit contexts"
Ambassador @heatherleson recently concluded the work of setting global strategy for a humanitarian non-profit organization—and the Open Organization Definition is part of it. @heatherleson is interested in conducting a short roundtable discussion with @LauraHilliger about integrating/incorporating open principles in various kinds of non-profits. I agreed to start the conversation.

Our initial vis

[2021-06-10 14:22] semioticrobotic opened #99 "Lessons in openness from Japan's "business reinvention""
New book review from @RonMcFarland, due in June. Proposed single article without a video component.

@semioticrobotic will work with @RonMcFarland on this.

[2021-06-10 14:24] semioticrobotic opened #100 "Adaptive leadership and open organizations"
Ambassador @RonMcFarland plans to revisit his earlier work on [adaptive leadership](https://opensource.com/open-organization/19/3/adaptive-leadership-review) and record a new video on the subject. It can accompany the former article, which we can resurface and promote.

[2021-06-10 15:21] Hleson commented on #98
Laura and I have been on journeys to build open in our organizations. The approaches are different, however, it would be interesting to share our key lessons on shifting to open in organizations.

Some background from me:

- [IFRC digital  transformation strategy] (http://digital.ifrc.org/ )is approved by the governing board. (May 2021). It took a few years of groundwork then a big lift last year

[2021-06-11 09:52] JosGroenNL commented on #95
He Bryan,

Do you want me to contribute to this article?

Met vriendelijke groet,

Jos Groen

[2021-06-11 11:33] jenkelchner commented on #98
I'm happy to moderate if time permits and we get days to align!

[2021-06-11 11:34] jenkelchner commented on #95
Hey @JosGroenNL  - we talked at the meeting yesterday about ensuring we re-promote articles in series before the next one drops.  I believe you have an upcoming article in a series and I think Bryan is suggesting yours are promoted on social media as well.

[2021-06-11 11:41] JosGroenNL commented on #95
Great idea. I didn’t understand it directly, excuse. I just posted an article of Ron today. We keep moving forward and post an article every week.

Met vriendelijke groet,

Jos Groen

[2021-06-11 11:46] jenkelchner opened #103 "Ask the Ambassadors Summer Episodes"
Hello Ambassadors!  I'd like to posit a couple of recording dates to do "Ask the Ambassadors".  If we can knock out several questions each time, it will carry us through the summer!

We can gather questions from Social Media, events we are at, things we have overheard....or we can pull from our past contributions!

If you are interested, email, DM me or drop it below for one of these (or all of th

[2021-06-11 12:03] RonMcFarland commented on #95
Jos,

The final article on Sustainable Economic Development will be on June 17th,
Stateside.  After that, I shouldn't have anything until July, I would guess.

Ron

On Fri, Jun 11, 2021 at 8:41 PM JosGroenNL ***@***.***> wrote:

[2021-06-11 13:18] semioticrobotic commented on #95
Thanks, @jenkelchner, for clarifying my hastily written notes. Yes, @JosGroenNL, the request is that we re-promote some of @RonMcFarland's series before the final piece drops on June 17. @jenkelchner noted that @RonMcFarland's videos are currently the most-watched videos on our channel, so we figured we'd try to give them some extra attention. Thanks for helping on LinkedIn!

[2021-06-11 13:19] semioticrobotic commented on #103
Love the idea of connecting this to a community call. I'm in for whatever you might need!

[2021-06-11 16:11] semioticrobotic commented on #81
[Published](https://opensource.com/open-organization/21/6/nurture-leaders-let-go)! Congratulations, @JosGroenNL.

[2021-06-11 16:11] semioticrobotic commented on #81
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-06-11 16:15] #96 closed

[2021-06-15 12:07] jenkelchner commented on #97
@engineerteacher video is now available  with a social media push tomorrow on 6/16/21 (@semioticrobotic)
https://www.youtube.com/watch?v=7s68mSvJxoQ

[2021-06-15 12:49] funnelfiasco opened #104 "Handling public comment on proposals"
From a conversation with Ron, Heidi, and Bryan happening right now about how we handle comments on the new Open Leadership Definition.

* How to know what comments to reply to
* Interact with comments in the doc
* Provide a summary at the end (so keep notes in a spreadsheet or a text doc)

[2021-06-15 13:37] engineerteacher commented on #97
Thanks, Jen! ☺

Cheers,

-Ben

Ben Owens

*Co-Founder & Lead Innovation Engineer*
*Open Way Learning* <http://openwaylearning.org/>
706.878.8946
*Co-Author of Open Up, Education!
<https://www.amazon.com/Open-Up-Education-Learning-Transform/dp/1475842007/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr=>
*
* | **National Faculty - PBLWorks
<https://www.pblworks.org/author/ben-owens> | Open Organization

[2021-06-15 13:39] semioticrobotic commented on #104
Great idea, @funnelfiasco. Thanks for jotting this down.

[2021-06-15 13:40] semioticrobotic commented on #97
Woo hoo! Thanks, @jenkelchner. Promotion at the ready.

[2021-06-16 12:00] semioticrobotic commented on #95
[Video published](https://www.youtube.com/watch?v=iDdcG40PyEY)! (Thanks, @jenkelchner!)

[2021-06-16 12:09] semioticrobotic opened #105 "Guide for Educators book talk"
Ambassador @engineerteacher suggests the excellent idea of hosting and recording a discussion with authors and editors of *The Open Organization Guide for Educators* for OpenOrgTV. Promised to note this here!

[2021-06-16 17:16] semioticrobotic commented on #82
Edited, typeset, and under final review! Congratulations, @JosGroenNL.

[2021-06-16 17:19] semioticrobotic commented on #99
@RonMcFarland has finished a draft and I am reviewing.

[2021-06-17 11:35] semioticrobotic commented on #95
And [article published](https://opensource.com/open-organization/21/6/open-future-sustainable-future)! Way to go, @RonMcFarland. Thanks for a great series.

[2021-06-17 11:35] semioticrobotic commented on #95
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-06-17 11:45] JosGroenNL commented on #95
LinkedIn, ✅

[2021-06-17 11:50] semioticrobotic commented on #82
Scheduled for publication on June 29, 2021.

[2021-06-17 11:56] #95 closed

[2021-06-18 07:45] LauraHilliger commented on #104
Happy to help, I just looked at some of the comments in Preamble and got all excited about working through them. I <3 community feedback!!

My $.02

I think each person gets ONE Reply (unless they're trolly, of course), we could invite them to our regular calls, if they're keen to participate? "Hi so-and-so, Thanks for commenting in our docs! We're going to work through your comments in our open,

[2021-06-18 07:51] LauraHilliger commented on #103
I'm up for this and noted June 30th. I have an invite for the Ambassadors meeting on July 22nd, rather than July 15th – shall I mark the 15th, or pay attention to the "just before" and "just after" and mark the 22nd? 🤔

[2021-06-18 07:59] LauraHilliger commented on #98
obviously I'm in! Sometime in July?

[2021-06-18 11:19] jenkelchner commented on #103
Hey all & @LauraHilliger  specifically, the Ambassador meeting was moved after I set up the 15th. Unfortunately, I'm unavailable on the 22nd so I can keep the 15th for an hour OR do the 29th for an hour.  Please vote on the July times thanks.

[2021-06-18 11:37] semioticrobotic commented on #104
Thanks for your great reply, @LauraHilliger. @funnelfiasco can correct me if I'm wrong, but I *think* he meant for this ticket to signal a more general article outlining a process for reviewing and vetting feedback that *any* open leader could use for *any* project in an open organization—not necessarily a specific discussion of our plans for the Open Leadership Definition (collected in #94). But

[2021-06-18 11:45] semioticrobotic commented on #103
This is my fault. I realized I am going to be out of town on July 15 and won't be able to coordinate the monthly meeting if it's scheduled for that date. So I (too hastily) rescheduled it for July 22. But I'd forgotten how that messes with @jenkelchner's excellent plans for recording the next series of episodes. I am happy to revert tot he former meeting date if someone else would like to run it.

[2021-06-18 13:44] jimmysjolund commented on #97
Recorded and sent an email with download link to @jenkelchner .

[2021-06-18 14:05] semioticrobotic commented on #99
Part 1, with suggested revisions, now back to @RonMcFarland for review.

[2021-06-18 14:06] semioticrobotic opened #106 "Japan at a crossroads: How open organization principles aided the country's economic resurgence"
This will be the second part of @RonMcFarland's review of *The Business Reinvention of Japan,* which began in June. It's a two-part series. @semioticrobotic is working with @RonMcFarland on publication.

[2021-06-18 16:06] jenkelchner commented on #97
@semioticrobotic @jimmysjolund is scheduled for publication on June 23 at 3AM EST  Link in above comment.

[2021-06-18 16:07] jenkelchner commented on #83
This video is published here: https://www.youtube.com/watch?v=EzWpGq-j4_M

[2021-06-18 16:08] #83 closed

[2021-06-18 16:08] #91 closed

[2021-06-18 16:09] #92 closed

[2021-06-18 18:55] semioticrobotic commented on #97
Noted! Thanks, @jenkelchner.

[2021-06-23 16:29] semioticrobotic commented on #99
@RonMcFarland and @semioticrobotic have finished revisions. Tapped @trncb to see if he might have time to copy edit for us.

[2021-06-23 16:31] semioticrobotic commented on #106
Draft finished and @semioticrobotic now reviewing.

[2021-06-25 12:37] #81 closed

[2021-06-25 12:37] #137 closed

[2021-06-25 13:12] semioticrobotic commented on #67
Since we've officially announced [a public draft of the work](https://drive.google.com/drive/folders/1e1N_0p5lJEwAo_s6hQ3OK0KaJIfc7fgF), I think we can close this issue and continue discussion in #93, where we're reviewing and editing that draft. So glad to see this moving along productively. All editorial feedback and assistance welcome!

[2021-06-25 13:12] #67 closed

[2021-06-25 13:13] semioticrobotic commented on #94
Updating this meta-checklist to note that [the public draft](https://drive.google.com/drive/folders/1e1N_0p5lJEwAo_s6hQ3OK0KaJIfc7fgF) is now released and has been reviewed.

[2021-06-25 13:14] semioticrobotic commented on #93
Re-engaging this thread and this discussion to piggyback on our work revising the OLD in response to excellent community feedback.

We've [compiled a spreadsheet(https://docs.google.com/spreadsheets/d/1ETyMtoNK9MpkTOm2wUvqBBtcnf1S6wGWOUPvOYFyrx8/edit?usp=sharing) charting the work ahead. Please follow along and hop in!

[2021-06-25 13:34] semioticrobotic commented on #106
Also tapping @trncb for a little extra editorial polish on this part, too (Part Two, too?). But he should feel free to decline if we're overloading him.

@trncb: We'd like to begin publishing this series during the first week of July, if possible.

[2021-06-25 13:39] semioticrobotic commented on #97
Folks, these videos are so good. Thanks to all who participated, and thanks to @jenkelchner for all her work on them. Reminder to @samuelknuth, Heather, @jonasrosland, @funnelfiasco, and @JosGroenNL: You're welcome to add your entries any time. Simply record a video of ~1 minute or less and get the raw file to @jenkelchner.

[2021-06-25 19:44] trncb commented on #99
Thanks @semioticrobotic . Will have a look in the next couple of days.

[2021-06-27 19:24] semioticrobotic commented on #99
Always appreciate you, @trncb. Thanks.

[2021-06-29 07:38] Hleson commented on #98
Great!  I am available between july 5 - 11th. On leave July 12 - 18.   Happy to collaborate

[2021-06-29 11:19] jenkelchner commented on #103
Hey, everyone!   I have canceled the June 30th session and have set TWO session times up that coordinate with the Ambassador meeting on the 22nd of July.  The recording times will be bookends for the meeting in hopes that some of you will be able to attend and answer a question or two.

8:00 - 9:00AM EST  and 10:00 - 10:45AM EST on July 22nd.  Happy to send invites! @semioticrobotic @LauraHilliger

[2021-06-29 11:35] semioticrobotic commented on #98
This is going to be great. Looks like @jenkelchner has offered to moderate if everyone's schedules align. I can serve as backup if that's not the case.

[2021-06-29 11:35] semioticrobotic commented on #103
Gotcha. Will do. Thanks, @jenkelchner, for your resilience and flexibility here as the meeting date jumped around a bit. Appreciate you. :pray:

[2021-06-29 11:36] semioticrobotic commented on #103
Oh, and yes—please add me to an invitation before and/or after (whatever seems to have momentum) and I'll be there.

[2021-06-29 11:38] jenkelchner commented on #103
@semioticrobotic I'm adding you and @LauraHilliger  on both times until it shakes out!

[2021-06-29 11:39] jenkelchner commented on #98
Happy to moderate @Hleson - I can make time during the week of the 5th dependent on time of day. I'm EST.

[2021-06-29 11:43] semioticrobotic commented on #82
[Published](https://opensource.com/open-organization/21/6/open-leaders-choice-work-openly)! Really great work (and series!), @JosGroenNL.

[2021-06-29 11:44] semioticrobotic commented on #82
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-06-29 11:48] funnelfiasco commented on #103
@jenkelchner please add me to both times, too!

[2021-06-29 14:35] Hleson commented on #98
Ok, I am also available that week. The friendly cest/est window is 1500 - 1800 CEST. @semioticrobotic @LauraHilliger  - how about you?

[2021-06-30 12:02] semioticrobotic commented on #98
I will let @Hleson, @jenkelchner, and @LauraHilliger settle on a time, since they are the essential players in this episode, and will join if possible during the window they set, because I am a Curious Spectator.

[2021-07-01 09:06] LauraHilliger commented on #94
started a blog post, edit at will > https://docs.google.com/document/d/1zgWLY2SU-mI6iOWeO4JUASY9FxEFeCLkyGzJ96kHwxA/edit#

[2021-07-01 11:19] semioticrobotic commented on #94
Okay! Thanks, @LauraHilliger. Will do. Might be a day or two.

[2021-07-01 11:28] jenkelchner commented on #98
Happy to moderate while Bryan is away @LauraHilliger @Hleson  - if you can forward me anything in advance that would help me out in supporting this please do :) See ya next week.

[2021-07-01 11:33] Hleson commented on #98
Great. I am keynoting on this tomorrow at https://compass.acm.org/ . Then I will share the slides here with all my points.

[2021-07-01 14:50] semioticrobotic commented on #99
Scheduled for publication on July 8, 2021.

[2021-07-01 14:50] semioticrobotic commented on #106
Scheduled for publication on July 15, 2021.

[2021-07-06 11:10] jenkelchner opened #107 "Promo videos for each book"
Creating simple text video to showcase each book in our community series to house in our YouTube Channel

- Workbook
- Leadership Manual
- Field Guide
- Educators Guide
- Human at a Distance
- IT Culture Change

[2021-07-06 11:30] semioticrobotic opened #108 "Guide for Educators roundtable"
Ambassador @engineerteacher is organizing a roundtable discussion on open educational organizations and *The Open Organization Guide for Educators*, featuring the book's editors. @engineerteacher, @semioticrobotic, and @afchernik. Initial plan is to record for OpenOrgTV.

[2021-07-06 12:43] jenkelchner commented on #108
Excellent!!!  This was on my wish list so happy to moderate and/or just do the edits! @semioticrobotic @engineerteacher

[2021-07-06 12:47] semioticrobotic commented on #108
Great! Thanks, @jenkelchner. When @engineerteacher gathers the participants for a planning call this week, we'll be able to report back with what we're thinking and what we may need.

[2021-07-07 11:30] engineerteacher commented on #108
Thanks, @jenkelchner! Today's call is to plan next steps, but do feel free to join us: https://us02web.zoom.us/j/9722256204. I love the idea of you moderating an informal conversation.

[2021-07-07 15:43] LauraHilliger commented on #98
FYI That was a fantastical chat with @Hleson and thank you for hosting us @jenkelchner. To make it easy for Jen, here's a title and descriptor – feel free to edit at will. Heather - do you want to link to your presentation? We could also link to [the Greenpeace series on OS.com](https://opensource.com/tags/open-organization-greenpeace)

**Getting Started: Openness in non-profits**
[Heather Leson](

[2021-07-07 18:28] semioticrobotic opened #109 "An update on the Open Leadership Definition"
New article from @LauraHilliger updating readers on revisions to the Open Leadership Definition (#94) and outlining our collaborative process for moving forward.

[2021-07-07 18:29] semioticrobotic commented on #109
Today I added my own thoughts and revisions to what @LauraHilliger had! Think [it's looking great](https://docs.google.com/document/d/1zgWLY2SU-mI6iOWeO4JUASY9FxEFeCLkyGzJ96kHwxA/edit?usp=sharing).

[2021-07-07 18:30] jenkelchner commented on #98
@LauraHilliger @Hleson - all edits are complete and the video will be scheduled to go live next week -- 14 July 2021. Housed in the new playlist created: Open in Non-Profits

[2021-07-07 19:28] semioticrobotic commented on #105
(Closing as duplicated in #108.)

[2021-07-07 19:28] #105 closed

[2021-07-07 19:29] semioticrobotic commented on #108
@jenkelchner: Would you be available to moderate this episode/discussion some time during the week of August 23, 2021? We're thinking the beginning of the week is best.

If so, we'll provide a briefing document that should ease the work for you.

[2021-07-07 20:14] jenkelchner commented on #108
@semioticrobotic I'll be on PTO starting that day for 3 weeks.   I haven't locked that day in for travel yet, **so I would be agreeable to moderate the day of 23rd**...

[2021-07-08 12:15] semioticrobotic commented on #99
[Published](https://opensource.com/open-organization/21/7/japan-business-reinvention)! Congrats, Ron.

[2021-07-08 12:15] semioticrobotic commented on #99
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-07-08 14:01] semioticrobotic commented on #108
Great! Thanks so much, @jenkelchner. @engineerteacher and @afchernik, does this (:point_up:) align with your schedules? I would personally prefer the 24th but could make either work, really.

[2021-07-08 14:49] afchernik commented on #108
Yes! On 8/23 I could do after 1:00. On 8/24 I could do before 11:00 or
after 2:00.

On Thu, Jul 8, 2021 at 10:01 AM Bryan Behrenshausen <
***@***.***> wrote:

[2021-07-08 14:56] semioticrobotic commented on #98
Amazing interview! Thanks for doing this, @Hleson and @LauraHilliger. Gives me a few ideas for future articles and book chapters you might be able to help us create, too. Well done.

[2021-07-08 14:58] jenkelchner commented on #108
This _"On 8/24 I could do before 11:00"_ would work for me!

[2021-07-08 16:46] Hleson commented on #98
thanks @jenkelchner  for all the help. And, @LauraHilliger  for being an ally in this space. Great to talk on tactics and lessons. And, @semioticrobotic you are the most patient person every. It has taken me awhile to move from what I was doing internally to talking openly. Glad to have done that internal socialization so that I can share how this project and people really helped us move the agend

[2021-07-08 19:37] semioticrobotic commented on #108
Alright then! Seems like we're all converging on **August 24, 2021 I could do before 10:00**. Let's go ahead and lock that in. @jenkelchner, would you do the honors of sending the invitation and the video link you'd like us to use? This way we can be sure you'll get what you know is easiest to work with.

In the meantime, @engineerteacher, @afchernik, and I will put our heads together to develop t

[2021-07-08 19:42] afchernik commented on #108
Wonderful! Looking forward to working with you all on this!

On Thu, Jul 8, 2021 at 3:37 PM Bryan Behrenshausen ***@***.***>
wrote:

[2021-07-08 19:45] jenkelchner commented on #108
you got it!

[2021-07-08 20:00] semioticrobotic commented on #109
@LauraHilliger made some changes and I made some changes to those changes. I think maybe we're ready to go to production? Will let @LauraHilliger make that call.

[2021-07-08 21:35] RonMcFarland commented on #99
Bryan,

Great!  I'll start forwarding it around.

Ron

On Thu, Jul 8, 2021 at 9:15 PM Bryan Behrenshausen ***@***.***>
wrote:

[2021-07-12 07:51] LauraHilliger commented on #109
Looks good to me, we can ship this week :D

[2021-07-12 12:05] semioticrobotic commented on #109
Will work to typeset ASAP! Thanks.

[2021-07-13 13:46] semioticrobotic commented on #109
Scheduled for publication on July 22, 2021. Nice work, @LauraHilliger!

[2021-07-14 11:22] jenkelchner commented on #98
Time to get this out there in the public! :)

- [ ] Twitter
- [ ] LinkedIn
- [ ] Discourse

[2021-07-14 11:40] semioticrobotic commented on #98
Great work, team! Love this.

[2021-07-14 11:41] semioticrobotic commented on #98
I'm leaving this open because I would like to promote again on Twitter, once more, next week. I'll take responsibility for closing after that.

[2021-07-14 11:45] #82 closed

[2021-07-20 19:26] #98 closed

[2021-07-21 18:41] semioticrobotic commented on #106
Forgot to note that this was [published](https://opensource.com/open-organization/21/7/japan-innovation-crossroads)! Nice work on another great series, @RonMcFarland.

[2021-07-21 18:41] semioticrobotic commented on #106
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-07-21 21:42] RonMcFarland commented on #106
Yes, I'm getting good fee on it.  Even the book author responded.

On Thu, Jul 22, 2021 at 3:41 AM Bryan Behrenshausen <
***@***.***> wrote:

[2021-07-22 11:02] semioticrobotic commented on #109
[Published](https://opensource.com/open-organization/21/7/manage-feedback-open-project)! Thanks so much for doing this, @LauraHilliger!

[2021-07-22 11:02] semioticrobotic commented on #109
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-07-22 11:39] semioticrobotic opened #110 "Your one-on-one meeting doesn't have to be this way"
New article from @cll on holding more open one-on-one meetings.

[2021-07-22 15:09] jenkelchner commented on #103
Recording of 6. new episodes completed today!! Thank you to those who participated!  I'll be closing this and opening episode cards now for production and scheduling.

[2021-07-22 15:09] #103 closed

[2021-07-22 15:14] jenkelchner opened #111 "ATA Ep 04 | Being open sounds time consuming"
Ambassadors respond to the following question:

[2021-07-22 15:17] jenkelchner opened #112 "ATA EP 05 | Open Orgs "don't work" from the top down"
Ambassadors respond to the following question:

[2021-07-22 15:19] jenkelchner opened #113 "ATA EP 06 | Fostering more input from all levels of the org"

[2021-07-22 15:20] jenkelchner opened #114 "ATA EP07 | Open seems like it leads to hurt feelings"
Ambassadors respond to the following question:

[2021-07-22 15:21] jenkelchner opened #115 "ATA EP08 | How can I encourage open conversations?"
Ambassadors respond to the following question:

[2021-07-22 15:21] jenkelchner opened #116 "ATA EP09 - building trust"
Ambassadors respond to the following question:

[2021-07-23 12:53] semioticrobotic commented on #110
Typeset and moving to production! Thanks, @cll!

[2021-07-23 14:54] semioticrobotic commented on #71
I've tried my hand at [a first draft](https://docs.google.com/document/d/1EXJunORV0pGuisrc3bcU4-0G8RKkLmOMqN8h4vTqK1g/edit?usp=sharing). While I can't say I'm _super_ jazzed about anything I've managed to produce, I do think it's useful grist for further collaboration. Anyone welcome to take a look.

[2021-07-26 17:44] jenkelchner commented on #111
Scheduled for publication on Wednesday July 28th
https://www.youtube.com/watch?v=LRc3VTd9STQ

[2021-07-26 18:35] jenkelchner commented on #112
Scheduled for publication on Wednesday  August 4
https://www.youtube.com/watch?v=j9uJ1hDwvvc

[2021-07-26 21:18] semioticrobotic commented on #110
Scheduled for August 05, 2021!

[2021-07-27 08:48] LauraHilliger commented on #71
Nice start. I added some comments and ideas. Perhaps we can add to the agenda today...

[2021-07-28 12:12] jenkelchner commented on #111
Item is published.  Time to promote!!

- [ ] Twitter
- [ ] Discourse
- [ ] LinkedIn

[2021-07-28 21:19] funnelfiasco commented on #104
I don't think there's anything I'd add to what Laura wrote in her recent article, so I'll take this one off the pile.

[2021-07-28 21:19] #104 closed

[2021-07-31 18:01] semioticrobotic opened #117 "A guide to understanding your team's implicit values and needs"
The first part of Ron's next serialized book review.

[2021-08-02 11:39] semioticrobotic opened #118 "Know your organization's rule makers and rule breakers"
This will be the second part of Ron's review of _Rule Makers, Rule Breakers)_.

[2021-08-03 14:34] HeidiHVL commented on #94
To finish the OLD and all the launch tasks:
Tues 8/10 - (Workgroup meeting) Review the release/vision doc, Create repository and showcase in Workgroup for feedback, plan/assign release communications
Weds 8/11 - Target to send email thank you to community, and that the OLD is in the repository for a last inspection
Thurs 8/12 - Assign any other release comms items to Ambassadors
Weds 8/18 - reposi

[2021-08-03 15:14] semioticrobotic commented on #94
Thanks, @HeidiHVL, our expert project manager. This all looks good and makes sense to me. I will get to work updating our various issues, appending dates, and organizing the materials accordingly.

[2021-08-03 15:21] semioticrobotic commented on #71
I think we've got it! Great work, everyone. All of this messaging is now collected in our ongoing [document of promotional materials and collateral](https://docs.google.com/document/d/1EXJunORV0pGuisrc3bcU4-0G8RKkLmOMqN8h4vTqK1g/edit#).

[2021-08-03 15:21] #71 closed

[2021-08-03 15:23] semioticrobotic commented on #93
I think our revisions to [the public working draft](https://docs.google.com/spreadsheets/d/1ETyMtoNK9MpkTOm2wUvqBBtcnf1S6wGWOUPvOYFyrx8/edit?usp=sharing) began the work of simplifying the language and making the definition sound more straightforward. I recognize we'll have more work to do as we receive even more feedback, but think I'll close this for now as we plod along to a release date for v1.

[2021-08-03 15:23] #93 closed

[2021-08-03 15:27] semioticrobotic opened #119 "Open Leadership Definition needs a project repository"
As part of our work publishing an Open Leadership Definition (see #94), we'll need to prepare a project repository and format the pre-release contents in plain text. I can take this on.

[2021-08-03 18:39] semioticrobotic commented on #119
Update: We have [a repository](https://github.com/open-organization/open-leadership-definition)! I'll be working on file conversion and formatting over the next few days.

[2021-08-04 11:45] jenkelchner commented on #112
Published and time to promote!

- [ ] Twitter
- [ ] LinkedIn
- [ ] Discourse

[2021-08-05 08:25] #111 closed

[2021-08-05 08:41] LauraHilliger commented on #94
@semioticrobotic started formatting in the repo, made some commits. Hope I did it the way you would have!! https://github.com/open-organization/open-leadership-definition/blob/main/open-leadership-definition.md

[2021-08-05 10:47] semioticrobotic commented on #94
You rock. Love it. Thank you.

[2021-08-05 11:25] semioticrobotic commented on #110
[Published today](https://opensource.com/open-organization/21/8/one-on-one-meeting-tips)! Congratulations, @cll. Great work.

[2021-08-05 11:25] semioticrobotic commented on #110
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-08-05 17:02] semioticrobotic commented on #119
Thanks to @LauraHilliger's help, we now have a complete release candidate ready for final review in the [project repository](https://github.com/open-organization/open-leadership-definition).

[2021-08-05 17:03] #119 closed

[2021-08-06 12:17] semioticrobotic commented on #117
First part of book review now finalize and ready for production. I'll get this typeset some time next week.

[2021-08-06 12:21] semioticrobotic commented on #118
Looks like we've wrapped up edits here. Great! @RonMcFarland, would you prefer to hold this one from publication until you've recorded the video that will accompany it? Or should we publish and add the video later? Whatever your preference, it's fine with me. Just checking.

[2021-08-06 21:00] RonMcFarland commented on #117
Sounds good.

On Fri, Aug 6, 2021, 9:17 PM Bryan Behrenshausen ***@***.***>
wrote:

[2021-08-06 21:04] RonMcFarland commented on #118
I guess waiting for the recording to be completed would be best so the
readers don't have to wait around for it.

On Fri, Aug 6, 2021, 9:21 PM Bryan Behrenshausen ***@***.***>
wrote:

[2021-08-09 14:39] jenkelchner commented on #113
Schedule for release on August 11
https://www.youtube.com/watch?v=odz5Fa5y-OE

[2021-08-09 14:39] jenkelchner commented on #114
Scheduled for release on August 18
https://www.youtube.com/watch?v=5sBYbirzFV4

[2021-08-10 12:34] #109 closed

[2021-08-11 10:34] jenkelchner commented on #107
Scheduling to publish and then promote the release of a Playlist for September 8, 2021 vs. individual promo videos @semioticrobotic

[2021-08-11 12:26] jenkelchner commented on #113
Promote to:

- [ ] Twitter
- [ ] LinkedIn
- [ ] Discourse

[2021-08-11 13:26] #106 closed

[2021-08-11 13:27] #99 closed

[2021-08-11 13:34] semioticrobotic commented on #107
Okay! Roger that. Thanks so much for making these, @jenkelchner!

[2021-08-11 14:24] semioticrobotic opened #120 "10 steps to more open, focused, and energizing meetings"
Next article from @cll on open approaches to meetings:

[2021-08-12 13:38] HeidiHVL commented on #94
Open a ticket for promotion of items after github release so that the community can be involved in the promotional announcements.

[2021-08-12 13:45] #112 closed

[2021-08-12 14:30] semioticrobotic commented on #117
Scheduled for publication on August 19, 2021.

[2021-08-12 14:32] semioticrobotic commented on #120
Scheduled for publication on August 25, 2021.

[2021-08-12 15:28] semioticrobotic opened #121 "Create Open Leadership Definition promotional materials"
We'll use this issue to track our work creating materials that help us promote the Open Leadership Definition when it's released. These might include:

- a release announcement for mailing lists
- explanatory statements for press releases and media announcements
- assets for various social media platforms
- scripts for video announcements

... and so on.

[2021-08-12 15:29] semioticrobotic commented on #121
We've got a nice, [collaborative document going](https://docs.google.com/document/d/1EXJunORV0pGuisrc3bcU4-0G8RKkLmOMqN8h4vTqK1g/edit#heading=h.dhjxtcmd5qt1), and all are welcome to have a look.

[2021-08-12 15:30] semioticrobotic commented on #94
Done! See #121. Thanks for logging this, @HeidiHVL.

[2021-08-12 15:48] HeidiHVL commented on #94
All,

**TL;DR: Thank you for your feedback on the draft of the Open Leadership Definition, which was integral to its development. The definition is now available in GitHub for final review until Thursday August 19 at 5pm EST.**

**Thank you**
Thank you for adding feedback and thoughts to the Open Leadership Definition! Your time and attention has helped create the most thoughtful and thorough defi

[2021-08-18 11:48] semioticrobotic commented on #114
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-08-18 11:49] semioticrobotic commented on #114
@jenkelchner This video lack's a title (at least, from what I'm able to see). What would you like to call it?

[2021-08-18 11:53] jenkelchner commented on #114
Thanks for the save!  Updated in YouTube

On Wed, Aug 18, 2021 at 7:49 AM Bryan Behrenshausen <
***@***.***> wrote:

--
*Jen Kelchner*
*Founder of LDR21 | Co-Founder of Interchange*

*Open Organization Ambassador*
Pioneering the psychology of change & Open Behaviors
+1.615.663.0524 | Signal, WhatsApp, iMessage

--
Confidentiality Notice: This message, including any attachment(s), may
contain confi

[2021-08-18 12:55] semioticrobotic commented on #114
You got it! Thanks.

[2021-08-18 13:19] jenkelchner commented on #121
@semioticrobotic - promo graphics for Twitter and LinkedIn are complete.  Promo Vid for sharing and Open Org TV  is in production; waiting on the team to answer a creative direction question and I can get this finished on Friday.  Thanks!

[2021-08-18 14:01] semioticrobotic commented on #121
The graphics look amazing, @jenkelchner! Thank you. :pray: I will review your request and get you the feedback you need to continue on.

[2021-08-18 14:43] semioticrobotic commented on #118
Okay! I have typeset the article and [it is ready for review](https://opensource.com/open-organization/21/8/rule-makers-rule-breakers). Seeking @jenkelchner feedback and final approval of [the video component](https://youtu.be/S_z120e65Ks), uploaded and edited, but private.

[2021-08-18 17:13] jenkelchner commented on #118
@semioticrobotic - can I get a preferred publication date please?

[2021-08-18 17:54] semioticrobotic commented on #118
Absolutely! We are aiming for August 26, but need to coordinate with the Opensource.com team.

[2021-08-18 17:58] jenkelchner commented on #118
If that works for them, I can push ATA EP08 back a week and publish Ron's review on 8/25?   If it needs to roll WITH article, we can do same day release.

[2021-08-18 18:06] semioticrobotic commented on #118
As long as you are okay with delaying ATA EP08 for a week, then I like the idea of launching the video a day early. That way, when the article goes live, we don't have to worry about whether the video was timed to go live with it (it'll already be up!).

Is that okay with you? I will put the August 26 request in right now.

[2021-08-18 18:07] jenkelchner commented on #118
@semioticrobotic DONE!!  :)  I could use a few extra days to get the next round of content ready anyway so this works PERFECTLY on my end.  All set for release 8/25!

[2021-08-18 18:08] semioticrobotic commented on #118
I love it when a good plan comes together. You're the best. Thank you! :pray:

[2021-08-19 08:10] #114 closed

[2021-08-19 12:18] semioticrobotic commented on #118
All components approved and scheduled for publication on August 26, 2021.

[2021-08-19 12:19] semioticrobotic commented on #117
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-08-19 12:23] semioticrobotic commented on #100
We recorded this as an addendum to #117, so I can close this here.

[2021-08-19 12:23] #100 closed

[2021-08-19 12:25] semioticrobotic opened #122 "Change strategies and organizational resistance"
Ambassador @RonMcFarland to record a video version of his former article about organizational change strategies and People Against Virtually Everything.

[2021-08-20 12:37] semioticrobotic commented on #121
Coming up quickly now! Amazing.

I'll set up a promotional checklist here so we have a space to coordinate on August 23.

- [ ] Announce on Twitter (@semioticrobotic)
- [ ] Announce on LinkedIn (@HeidiHVL)
- [ ] Announce on internal Red Hat lists (@semioticrobotic / @HeidiHVL)

[2021-08-20 12:51] jenkelchner commented on #121
@semioticrobotic any updates for me on design or shall I pick??  _Design concept in our document notes._ I had today slotted to complete this but will shift to Saturday so you have it on time.

[2021-08-20 14:30] semioticrobotic commented on #121
Sorry, @jenkelchner! I did leave feedback for you in the doc but maybe it's not what you needed to move forward? I'd hate for you to have to work Sunday. This needn't be totally ready on launch day (we'll be blowing the trumpets for many days), so don't feel that pressure.

[2021-08-20 14:32] jenkelchner commented on #121
Oh no!  It didn’t trigger a notification for me!  I’ll check it out and get it done :-)

[2021-08-20 14:46] semioticrobotic commented on #121
As usual, I blame Google. Thanks, @jenkelchner. Please don't sweat it.

[2021-08-23 11:58] semioticrobotic commented on #94
[It's released](https://theopenorganization.org/definition/open-leadership-definition/)!

Fantastic work on this, everyone. I sure do feel proud when I read it. Very excited to see how others will react to and use this fantastic tool.

Please see #121 if you're interested in helping promote the release.

[2021-08-23 12:12] jenkelchner commented on #121
Video for release: https://www.youtube.com/watch?v=H43MfMGeV2c

[2021-08-23 12:17] semioticrobotic commented on #121
Daaaaaaaaang, @jenkelchner! This is amazing! (Great voiceover work, too!)

[2021-08-23 13:44] LauraHilliger commented on #121
WOW @jenkelchner nicely done!!! Congrats everyone, everything looks auhmazing

[2021-08-23 14:44] semioticrobotic commented on #121
@LauraHilliger Would you be able to announce the release on Discourse (in [the Announcements forum](https://www.theopenorganization.community/c/announcements/17))?

[2021-08-23 15:55] LauraHilliger commented on #121
Done and done: https://www.theopenorganization.community/t/the-open-leadership-definition-is-live/248

[2021-08-23 16:14] semioticrobotic commented on #121
Perfect! Thank you for all your hard work on this project.

[2021-08-23 16:43] HeidiHVL commented on #121
So Amazing Jen! Woo

[2021-08-24 11:17] #94 closed

[2021-08-25 12:10] jenkelchner commented on #108
Currently in-production and scheduling for a release on September 8th @semioticrobotic

[2021-08-25 13:13] semioticrobotic commented on #120
Published! Congratulations and thank you, @cll!

[2021-08-25 13:13] semioticrobotic commented on #120
### Promotion checklist#108

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-08-25 13:14] semioticrobotic commented on #108
Noted and logged! Thank you, @jenkelchner.

[2021-08-31 14:31] semioticrobotic commented on #89
Draft completed and under revision.

[2021-08-31 14:32] semioticrobotic opened #123 "When leading openly means leading with vulnerability"
This is the next installment of @HeidiHVL's "Managing with Open Values" series, and her third and final interview with @samuelknuth.

[2021-08-31 18:17] jenkelchner commented on #115
Publishes September 1st
https://www.youtube.com/watch?v=_NhlWzV2_BQ

[2021-09-01 07:40] LauraHilliger commented on #115
### Promotion checklist

- [] Discourse
- [] Twitter
- [x] LinkedIn

[2021-09-01 13:45] HeidiHVL commented on #123
Thanks @semioticrobotic !

[2021-09-01 13:46] HeidiHVL commented on #89
woot woot

[2021-09-02 19:12] semioticrobotic commented on #122
@RonMcFarland has finished slides, and he and @semioticrobotic are reviewing. We'll set a recording date soon and let you know, @jenkelchner.

[2021-09-02 19:12] semioticrobotic commented on #89
Off to @samuelknuth for review before we go to production.

[2021-09-03 19:09] trncb commented on #123
@semioticrobotic @HeidiHVL I've had a read through and made some suggestions.

What a great article @HeidiHVL!

[2021-09-03 20:38] semioticrobotic commented on #123
You're awesome, @trncb. Thanks so much.

[2021-09-06 12:29] #115 closed

[2021-09-06 12:32] jenkelchner commented on #108
@afchernik @semioticrobotic @engineerteacher  - I'm done with all editing. Comes to a full version at 44 mins but honestly, I suggest we keep it at this longer length because of the conversation flow. I attempted to break it up and it just doesn't work.

If you have any notes, links, etc to add to the YouTube page for this roundtable, just send them over by Tuesday end of day and I'll add it to th

[2021-09-06 13:02] semioticrobotic commented on #108
Thanks, @jenkelchner! Will we have a chance to review before it goes live?

[2021-09-06 13:04] jenkelchner commented on #108
Yep, when it's done processing I can set it as unlisted and then won't set the publish time until end of day tomorrow ... that way you can view!

[2021-09-06 13:05] semioticrobotic commented on #108
Thank you!

[2021-09-06 13:18] engineerteacher commented on #108
Thanks, Jen! Looking forward to watching it.

Cheers!

-Ben

Ben Owens

*Co-Founder & Lead Innovation Engineer*
*Open Way Learning* <http://openwaylearning.org/>
706.878.8946
*Co-Author of Open Up, Education!
<https://www.amazon.com/Open-Up-Education-Learning-Transform/dp/1475842007/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr=>
*
* | **National Faculty - PBLWorks
<https://www.pblworks.org/author/b

[2021-09-07 11:37] semioticrobotic commented on #108
Love watching this, @jenkelchner. Note from me as I go through it: When I hit the 17:00 mark, my video freezes and sound stops, though the playback counter keeps going. Then at 17:23 it "unsticks." Not sure if you're also seeing this or if it's just my copy, but wanted to report. If it's not just me, know that you won't hurt my feelings if you need to chop out the weird silence and the end of my a

[2021-09-07 11:45] jenkelchner commented on #108
Ugh. I hate that...after all the hours in editing that came through via the upload. grrrr.  Okay, given time factors all around, I will cut that space that froze. It will go back into a reprocessing phase for a couple hours in YouTube...sorry.  Still need to get any links and info from @engineerteacher that he'd like in the copy :)

[2021-09-07 11:49] afchernik commented on #108
Can someone please share the video link with me? I looked on GitHub but
despite what you all say it is *not* user friendly :-)

On Tue, Sep 7, 2021 at 7:45 AM Jen Kelchner ***@***.***>
wrote:

[2021-09-07 11:49] jenkelchner commented on #108
I hadn't posted it here lol but will email you directly!!

[2021-09-07 11:51] afchernik commented on #108
Thank you!!

On Tue, Sep 7, 2021 at 7:50 AM Jen Kelchner ***@***.***>
wrote:

[2021-09-07 11:54] semioticrobotic commented on #108
Thanks, @jenkelchner. You're a :star:. I'm sorry this happened to the video. But honestly, I think if we just cut my answer at 16:41 and let the next person speak, everyone wins. :laughing:

[2021-09-07 17:56] semioticrobotic commented on #123
Reviewed the suggestions from @trncb and appreciate them very much. Will let @HeidiHVL review and determine how she'd like to take them on. We have some time here, as @samuelknuth is currently reviewing Part II.

[2021-09-07 18:39] jenkelchner commented on #108
We are good to go for tomorrow folks: https://www.youtube.com/watch?v=t6GQFxE3uGk

[2021-09-07 18:42] engineerteacher commented on #108
🙌🙂
Ben Owens

*Co-Founder & Lead Innovation Engineer*
*Open Way Learning* <http://openwaylearning.org/>
706.878.8946
*Co-Author of Open Up, Education!
<https://www.amazon.com/Open-Up-Education-Learning-Transform/dp/1475842007/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr=>
*
* | **National Faculty - PBLWorks
<https://www.pblworks.org/author/ben-owens> | Open Organization Ambassador
<https://opensour

[2021-09-07 21:37] semioticrobotic commented on #108
Congratulations, all. And thanks @jenkelchner for the usual amazing video editing.

[2021-09-08 11:39] jenkelchner commented on #108
Promoting:

- [ ] Twitter
- [ ] LinkedIn
- [ ] Discourse

[2021-09-09 13:57] semioticrobotic opened #124 "Open organizations and cooperatives"
@RonMcFarland mentioned doing some reading and research on cooperatives and will likely be writing something soon. Recommend connecting with @LauraHilliger and crew to perhaps collaborate on something (roundtable interview or the like).

[2021-09-09 15:05] LauraHilliger commented on #124
oh interesting! @RonMcFarland I've got a co-op and that co-op is a member of a mega co-op :) International co-op principles might be a good place to start (they're widely in use in the co-op circles I play in) https://www.ica.coop/en/cooperatives/cooperative-identity

[2021-09-10 01:01] RonMcFarland commented on #124
Great information Laura.  In reading The Zero Marginal Cost Society: The
Internet of Things, the Collaborative Commons, and the Eclipse of
Capitalism, by Jeremy Rifkin, I learned of International Cooperative
Alliance.

Let me do my homework on this. I've read a couple books on this subject and
would like to read a couple more. From there, I'd like to put together an
article for you and Bryan to re

[2021-09-10 12:52] jenkelchner commented on #116
Scheduled for publication on September 15 - https://www.youtube.com/watch?v=DZ3Ky7SfIgc

[2021-09-15 12:12] jenkelchner commented on #116
Ready for promotion:

- [ ] Twitter
- [ ] LinkedIn
- [ ] Discourse

[2021-09-15 12:16] semioticrobotic commented on #116
Another great episode! Well done, @jenkelchner!

[2021-09-15 12:53] #116 closed

[2021-09-21 13:15] semioticrobotic opened #125 "Building trust in the open organization"
New video presentation forthcoming from @RonMcFarland will review his previous writing on the subject.

[2021-09-23 16:34] semioticrobotic commented on #89
Scheduled for publication on September 28, 2021.

[2021-09-27 11:55] semioticrobotic commented on #125
@RonMcFarland and I have reviewed the presentation materials will coordinate a time to record this episode of "Ron's Reviews."

[2021-09-27 16:43] semioticrobotic opened #126 "Four new videos about working and leading openly"
This article summarizes and links to the great videos we released on OpenOrgTV in September. @jenkelchner and @semioticrobotic [working on it](https://notes.theopenorganization.org/NsQbp1phQWOZGgQp7FGNiQ?view).

[2021-09-28 16:59] jenkelchner commented on #126
@semioticrobotic - I've updated the final paragraph for your review.... please ensure i have my links right thanks!!!!! :)

[2021-09-28 17:37] semioticrobotic commented on #126
Awesome! Thank you, @jenkelchner! I'm adding an intro paragraph now. Any other general feedback or instructions? Otherwise, I can work on getting this into production for publication in the first week of October.

[2021-09-28 17:39] semioticrobotic commented on #126
Oh yes, and @jenkelchner: Not sure if this is in the cards for you right now (and okay if not), but would you have a moment to make an Opensource.com article header image that features the OpenOrgTV logo? Dimensions are 520px X 292px.

Not a blocker for release, obviously, so don't worry if not possible in a week or so!

[2021-09-28 17:39] jenkelchner commented on #126
I think I've contributed all I can on this month!  I'd love to also make a video mashup each month like a teaser trailer...but that will have to wait for now!  Maybe I'll start that for the year end - first 6 months wrap up :)

[2021-09-28 17:40] jenkelchner commented on #126
I'll see if I can't get that out tomorrow! shouldn't take long

[2021-09-28 17:43] semioticrobotic commented on #126
Okay! Thanks.

[2021-09-28 22:07] semioticrobotic commented on #126
Off to @jenkelchner and the Opensource.com team for final review, approvals, and scheduling.

[2021-09-29 11:41] semioticrobotic commented on #89
[Published today](https://opensource.com/open-organization/21/9/modeling-open-management)! Congratulations, @HeidiHVL and @samuelknuth.

[2021-09-29 11:42] semioticrobotic commented on #89
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-09-29 11:42] #118 closed

[2021-09-29 11:43] #117 closed

[2021-09-29 11:43] #110 closed

[2021-09-29 11:43] #120 closed

[2021-09-29 11:43] #108 closed

[2021-10-05 11:34] semioticrobotic commented on #126
[Published](https://opensource.com/open-organization/21/10/sept-openorgtv-roundup)! Thanks, @jenkelchner!

[2021-10-05 11:34] semioticrobotic commented on #126
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2021-10-05 13:19] semioticrobotic commented on #125
We've recorded this and I am working on putting it into production.

[2021-10-06 12:46] semioticrobotic commented on #123
I've re-read the piece and think it's good to go, @HeidiHVL! Let's get @samuelknuth comments, and then we can put this into production.

[2021-10-06 12:57] HeidiHVL commented on #123
Thanks @semioticrobotic - I really like this article because of it's connection to my research on innovation and creativity. Looking forward to @samuelknuth feedback :)

[2021-10-06 13:00] semioticrobotic commented on #123
It's really good, @HeidiHVL! I can't wait for it to get published.

[2021-10-08 18:33] jenkelchner commented on #125
Got you!  I'll look to finalize it this weekend and can schedule it for this coming Wednesday.

[2021-10-11 15:38] jenkelchner commented on #125
@semioticrobotic - this is now scheduled for publication on Wednesday
https://www.youtube.com/watch?v=uzHRlXr5hpc

[2021-10-13 11:48] semioticrobotic commented on #125
Published! Great work, @RonMcFarland!

[2021-10-27 13:21] semioticrobotic opened #127 "Author conversation about Opening Up to Leadership Talent"
@RonMcFarland and @JosGroenNL to chat about @JosGroenNL recently released volume in the *Open Perspectives* series, "[Opening Up to Leadership Talent](https://raw.githubusercontent.com/open-organization/open-perspectives/main/opening-up-to-leadership-talent/opening-up-to-leadership-talent.pdf)."

I'm thinking this might be the start of a new playlist, "Open Perspectives," that features in-depth in

[2021-10-28 18:11] #89 closed, assigned to samuelknuth, HeidiHVL

[2021-11-11 13:43] #123 closed

[2021-11-11 13:44] #126 closed

[2021-11-30 13:48] semioticrobotic commented on #127
This is recorded and I am reviewing raw footage presently! Will connect with @jenkelchner when we're in production.

[2021-11-30 16:21] semioticrobotic commented on #127
The video is now processing and I'll update everyone when it's finished.

[2021-11-30 17:38] semioticrobotic commented on #127
Okay! The video is processed and trimmed. Passing to @jenkelchner for her final review, flourishes, and scheduling.

[2021-12-01 19:26] jenkelchner commented on #127
@semioticrobotic I'll be able to work on this tomorrow!

[2021-12-02 14:45] semioticrobotic commented on #127
Awesome! Thanks, @jenkelchner!

[2021-12-02 17:04] jenkelchner commented on #127
Okay, the video is complete now.  New playlist created "Open Perspectives" - btw, we can tag both Rons Reviews and Open Perspectives if you'd like. Just let me know!

Scheduling for our next pub date which is Wednesday, December 8th: https://www.youtube.com/watch?v=fyJBeFVBYyA

@semioticrobotic

[2021-12-02 17:07] JosGroenNL commented on #127
👍👌

Met vriendelijke groet,

Jos Groen

[2021-12-02 17:12] semioticrobotic commented on #127
Thanks, @jenkelchner! You're the best.

I like the "dual listing" approach for this one—since it's technically an episode of Ron's show but also the first video we've done in this important series of new publications. I think I can manage to make that update in YouTube without messing things up. :laughing:

[2021-12-08 11:28] jenkelchner commented on #127
- [ ] LinkedIn
- [ ] Discourse
- [ ] Twitter

[2021-12-13 21:19] semioticrobotic opened #128 "Being autistic in an open organization"
New writing from Sam Knuth.

[2021-12-13 21:20] semioticrobotic commented on #128
This is scheduled for publication on December 16, 2021.

[2021-12-15 15:11] semioticrobotic opened #129 "Open exchange, open doors, open minds: A recipe for global progress"
Proposed new writing/review collaboration from @RonMcFarland, Brook Manville, and @semioticrobotic: a review and accompanying critique of Johan Norberg's _Open: The Story of Human Progress_.

[2021-12-16 12:52] semioticrobotic commented on #128
And [published](https://opensource.com/open-organization/21/12/being-autistic-open-organization)! Thanks so much for working on this, @samuelknuth.

[2021-12-16 12:52] semioticrobotic commented on #128
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LInkedIn

[2022-01-14 19:32] semioticrobotic opened #130 "How open managers can talk to neurodivergent teammates about performance"
New writing from @samuelknuth on this topic.

[2022-01-14 19:34] semioticrobotic commented on #130
Thanks, @samuelknuth! I've asked @trncb if he might have an opportunity to copy edit this work.

[2022-01-14 19:35] #128 closed

[2022-01-14 19:36] #127 closed

[2022-01-17 17:52] trncb commented on #130
@semioticrobotic @samuelknuth - I've had a review and made a few suggestions. Nothing major, just some formatting to make the article "easier" on the eye for the reader.

@samuelknuth - This is a great article. Very interesting read and very relevant for not only leaders, but _everyone_. Open communication that promotes empathy and inclusivity is always a good thing. :)

[2022-01-17 18:45] samuelknuth commented on #130
Thank you Terence - I appreciate it. Looks good to me!

On Mon, Jan 17, 2022 at 11:52 AM Terence ***@***.***> wrote:

--

Sam Knuth

(he/him)

Sr. Director, PnT Associate Experience

Global Chair, Neurodiversity Community

Red Hat <https://www.redhat.com/>

M: +1-612-840-1785
<https://red.ht/sig>

[2022-01-17 18:54] semioticrobotic commented on #130
As always, @trncb, we are in your debt. Thanks so much for reviewing this and enhancing readability. Seems like we're all set for production. I will add this my task list for the next day or two and will add final publication details when I have them.

[2022-01-18 19:22] semioticrobotic commented on #130
This is now typeset and with @samuelknuth for final review.

[2022-01-19 15:11] semioticrobotic commented on #130
Scheduled to publish on January 27, 2022!

[2022-01-27 12:38] semioticrobotic commented on #130
[Published](https://opensource.com/open-organization/22/1/open-managers-neurodiversity-performance)! Thanks so much for sharing, @samuelknuth!

[2022-01-27 12:39] semioticrobotic commented on #130
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-01-27 12:46] semioticrobotic commented on #130
I'm not sure, but I think perhaps @samuelknuth already published this (or a version of this) on LinkedIn? Maybe @HeidiHVL and @JosGroenNL can connect and coordinate?

[2022-02-20 09:18] shashank2906 opened #131 "Please invite me to the open-organisation community"
Hello everybody , I am shashank
I learnt about open-organisation through github .
I want to join the organisations and make open source contributions that would help me excel in my skills and would also help me to get mentorship and grow with the community .

Thank you
Waiting to join the community soon

[2022-02-20 15:03] semioticrobotic commented on #131
Greetings, @shashank2906! I'm so glad you found us. Thanks for reaching out and connecting with us.

We're certainly delighted to hear you'd like to contribute to the Open Organization project and community. What kinds of contributions would you like to make most? I can direct you to the person or group working in those areas so you can get started. For example, we always need help:

- Writing and

[2022-02-20 15:04] semioticrobotic commented on #129
@RonMcFarland has drafted this article and it's now with me for editing.

[2022-02-20 15:06] semioticrobotic commented on #129
Brook Manville has also penned a multi-part review and I'm working on editing that, too.

[2022-02-20 15:43] shashank2906 commented on #131
Thanks for the reply
I am interested in writing and editing tech articles and can also help with the technical issues regarding website .
I am an undergrad studying computer's and mathematics so i can help the community according to my abilities in writing and editing articles and also with development and maintenance of the website

Thank you.

[2022-02-21 18:18] semioticrobotic commented on #131
Okay! Thanks. Welcome!

[2022-02-22 05:00] shashank2906 commented on #131
How can i proceed further ?

[2022-02-22 23:05] semioticrobotic commented on #131
Thanks for asking! The first thing you'll likely want to do is introduce yourself at [the community hub](http://theopenorganization.community)! There you can also meet other community members and learn more about projects in progress.

We're a largely non-technical community, so the articles we write and publish tend to pertain more to the "people and process" side of open organizational culture a

[2022-02-23 09:14] shashank2906 commented on #131
Thank you so much .

[2022-02-28 13:48] semioticrobotic commented on #129
I'm typesetting this now and getting it into production for @RonMcFarland.

[2022-02-28 16:35] semioticrobotic commented on #129
Confirmed scheduled for publication on March 15!

[2022-02-28 20:57] semioticrobotic opened #132 "Making the case for openness as the engine of human progress"
Brook Manville follows [Ron McFarland's recent introduction](https://opensource.com/open-organization/22/3/open-history-human-progress) to Johan Norberg's book *Open* with his own take.

[2022-02-28 20:58] semioticrobotic commented on #132
Brook has completed a draft, which I believe we'll actually split into two pieces.

[2022-03-02 22:44] semioticrobotic commented on #132
Chapter returned to author for review.

[2022-03-18 13:45] semioticrobotic commented on #132
Proofs are now typeset and with author for review.

[2022-03-18 13:46] semioticrobotic commented on #129
Neglected to note that [this was published](https://opensource.com/open-organization/22/3/open-history-human-progress)! Nice work, @RonMcFarland!

[2022-03-18 13:47] semioticrobotic commented on #129
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-03-18 21:31] RonMcFarland commented on #129
Bryan,

I saw it.  Thanks for your work on it.  Looking forward to the next one.

Ron

On Fri, Mar 18, 2022 at 10:47 PM Bryan Behrenshausen <
***@***.***> wrote:

[2022-03-24 12:22] semioticrobotic commented on #132
[Published today!](https://opensource.com/open-organization/22/3/making-case-openness-engine-human-progress)

[2022-03-24 12:23] semioticrobotic commented on #132
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-03-25 15:02] semioticrobotic opened #133 "The path to an open world begins with inclusivity"
Ron is preparing the final piece in our series of reviews examining *Open* by Johan Norberg.

[2022-03-25 15:03] semioticrobotic commented on #133
Draft returned to @RonMcFarland this morning for initial review.

[2022-03-29 12:11] semioticrobotic commented on #133
Author @RonMcFarland and I have finished editorial work, and I'll put this piece into production presently.

[2022-03-29 12:12] semioticrobotic commented on #131
Because you've received your invitation, I'll close this issue. Welcome, @shashank2906!

[2022-03-29 12:13] #130 closed

[2022-03-29 12:15] semioticrobotic opened #134 "4 questions about the essence of openness"
Following Brook Manville's last article (outlined in #132), we'll publish this second installment of a review of *Open*.

[2022-03-29 12:16] semioticrobotic commented on #134
Editorial work is finished and getting ready for production.

[2022-03-29 14:51] semioticrobotic commented on #133
This is now typeset and with the author for final review!

[2022-03-29 19:18] semioticrobotic commented on #134
Scheduled for publication on April 05!

[2022-03-30 17:31] semioticrobotic commented on #133
Scheduled for publication on April 12.

[2022-04-05 11:12] semioticrobotic commented on #134
[Published](https://opensource.com/open-organization/22/4/essence-of-openness-norberg-review)! Congratulations, Brook!

[2022-04-05 11:13] semioticrobotic commented on #134
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-04-12 16:31] semioticrobotic commented on #133
[Published today](https://opensource.com/open-organization/22/4/open-world-inclusivity-norberg-review)! Congratulations, @RonMcFarland, on another outstanding piece.

[2022-04-15 11:13] jimmysjolund commented on #107
@semioticrobotic I suppose the one published is the Leader's manual? https://www.youtube.com/watch?v=dFTWLPU9Hvk

Is there perhaps a skeleton used for the first video that we can use for the others as templater?

[2022-04-15 13:24] jenkelchner commented on #107
@jimmysjolund not a shareable one really. I created them in a professional system I use for graphic design and video creation using a flow I thought best for the book callouts.

[2022-04-15 13:39] jimmysjolund commented on #107
It looks really good and would be nice if the others would have a similar look.

[2022-04-15 19:55] semioticrobotic commented on #107
I believe @jenkelchner documented this process and I'll take a look at my archives for you, @jimmysjolund.

[2022-04-21 18:05] semioticrobotic opened #136 "Conversation with the authors of Opening Up Impact-Focused Organizations"
Open Organization Ambassador @RonMcFarland proposes a roundtable discussion exploring *Opening Up Impact-Focused Organizations*, our latest *Open Perspective* and interviewing its authors, @LauraHilliger and @hleson.

[2022-04-22 08:02] LauraHilliger commented on #136
hey nice idea! I could only do Thursday next week and then I'm on vacation for two weeks, and we would need to schedule more towards the end of May :)

[2022-05-12 14:11] semioticrobotic opened #138 "How collaborative commons and open organization principles align"
This will be the first installment of a new multi-part series from @RonMcFarland.

[2022-05-12 14:12] semioticrobotic commented on #138
@RonMcFarland: Do you have any sense of the anticipated publication date for this article?

[2022-05-12 14:13] semioticrobotic opened #139 "Near zero marginal cost societies and the impact on why we work"
Second part of review series from @RonMcFarland.

[2022-05-12 14:13] semioticrobotic opened #140 "Looking into the future of collaborative commons"
Third and final installment of this review series from @RonMcFarland.

[2022-05-23 11:39] semioticrobotic commented on #138
[Published May 12, 2022.](https://opensource.com/open-organization/22/5/zero-marginal-cost-collaborative-commons)

[2022-05-23 11:40] semioticrobotic commented on #138
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-05-23 11:41] semioticrobotic commented on #139
[Published May 19, 2022.](https://opensource.com/open-organization/22/5/near-zero-marginal-cost-societies-and-impact-why-we-work)

[2022-05-23 11:41] semioticrobotic commented on #139
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-05-23 11:44] semioticrobotic commented on #140
@RonMcFarland, do you happen to have a title and/or publication date for this article yet?

[2022-05-23 13:08] RonMcFarland commented on #140
I think they are still working on it.  I haven't heard.

Ron

On Mon, May 23, 2022 at 8:44 PM Bryan Behrenshausen <
***@***.***> wrote:

[2022-06-09 14:28] semioticrobotic commented on #140
[Published May 27, 2022](https://opensource.com/open-organization/22/5/looking-future-collaborative-commons).

[2022-06-09 14:28] semioticrobotic commented on #140
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-06-09 14:37] semioticrobotic opened #141 "Using habits to practice open organization principles"
Forthcoming article from @RonMcFarland.

[2022-06-09 14:37] semioticrobotic opened #142 "Applying smart thinking to open organization principles"
Forthcoming article from @RonMcFarland.

[2022-06-09 14:38] semioticrobotic opened #143 "An open conversation about open societies"
[As discussed at](https://www.theopenorganization.community/t/june-09-2022-meeting/349) this month's meeting of the Open Organization Ambassadors: We'd like @RonMcFarland to write a brief (one- or two-paragraph) recap of our conversation with author Johan Norberg so that we can cross-post the video recording of our roundtable conversation between OpenOrgTV and Opensource.com.

@RonMcFarland, I (@s

[2022-06-09 14:41] semioticrobotic commented on #142
@RonMcFarland: Please just let us know when you receive publication dates/schedules from Opensource.com. Thanks!

[2022-06-15 14:50] semioticrobotic commented on #143
The video has been published so we're now able to work on this, @RonMcFarland!

Our goal here is to write a brief introduction/teaser to the video—something that describes what it is and why someone would want to watch it. This should be no longer than, say a paragraph or two.

Then we'll publish that introduction as an article on Opensource.com, embed the video interview in the article, and link

[2022-06-15 21:55] RonMcFarland commented on #143
Bryan,

I'll work on an introduction in a paragraph or two for your review.  Give
me a day or two.

Ron

On Wed, Jun 15, 2022 at 11:50 PM Bryan Behrenshausen <
***@***.***> wrote:

[2022-06-15 23:12] RonMcFarland commented on #143
Bryan,

What about something like this?
******
Why do some societies advance while others weaken?  According to Professor
Norberg’s research, being “open” is a major factor.  I believe his
conclusions are true for organizations as well. This is why his material is
so important and why Brook Manville and I wrote two articles each on his
material. Happily, we were able to have a discussion with Prof

[2022-06-16 12:38] AmyJuneH commented on #141
Apologies for having the date AFTER it publishes, I was on holiday until today :)

[2022-06-16 12:57] AmyJuneH commented on #142
This has a tentative publish date of June 23 - this will be the live link: https://opensource.com/article/22/6/applying-smart-thinking-open-organization-principles

Here is the preview link for Ron's review:  https://opensource.com/preview-link/node/70075/36270486-5905-49c4-b4a2-6aed21d56350

[2022-06-16 13:55] AmyJuneH commented on #141
I will get that edited, thanks Ron

[2022-06-16 14:39] semioticrobotic commented on #141
Thanks, all! I'll get this filed and promoted.

[2022-06-16 14:53] semioticrobotic commented on #143
Thanks so much for getting us started here, @RonMcFarland! I will take a look (and work on this [in the document](https://notes.theopenorganization.org/c8L51c9ETOyGO3gQfZnSvA#).

[2022-06-16 15:12] semioticrobotic commented on #143
Draft sent to @AmyJuneH and the Opensource.com team! Thanks, @RonMcFarland!

[2022-06-17 12:48] AmyJuneH commented on #143
From the OSDC side of things, this has moved into copy editing with a due date of June 23. I will send a preview link for review when it becomes available.
Thanks!

[2022-06-23 12:54] AmyJuneH commented on #142
This was published today
https://opensource.com/open-organization/22/6/applying-smart-thinking-open-organization-principles

[2022-06-24 12:13] AmyJuneH commented on #143
update:
the due date in copy editing was pushed until June 28.

[2022-06-24 12:22] RonMcFarland commented on #142
The other article is in copy editing, but sure! Send along a draft.

Have a great weekend,
*~ AmyJune Hineline, CPACC*
Senior Community Manager - Opensource.com
pronouns: she / her
twitter: volkswagenchick <https://twitter.com/volkswagenchick>
linkedIn: AmyJune Hineline <https://www.linkedin.com/in/volkswagenchick/>
drupal.org: volkswagenchick <https://www.drupal.org/u/volkswagenchick>

I am email

[2022-06-27 13:20] semioticrobotic commented on #142
Thanks, all!

[2022-06-27 13:20] semioticrobotic commented on #142
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-07-01 22:08] AmyJuneH commented on #143
Here is the preview link for review:
Link: https://opensource.com/preview-link/node/70092/ad18c47a-296c-4b95-8850-1da45639958d

Let me know if you have any edits

[2022-07-02 01:48] RonMcFarland commented on #143
Just review the discussion again.  It looks great to me as is.  Thanks All

[2022-07-04 21:45] semioticrobotic commented on #143
Thanks, @AmyJuneH! Just one note from me:

This sentence should be punctuated with a question mark, not a period.

Otherwise, all looking great from my end! Thanks!

[2022-07-04 22:53] AmyJuneH commented on #143
Fixed!

https://opensource.com/article/22/6/our-interview-johan-norberg will be the live link, looks like publication is set for July 11

[2022-07-05 00:12] RonMcFarland commented on #143
Great.  I'll let people know.

On Tue, Jul 5, 2022, 7:54 AM AmyJune Hineline ***@***.***>
wrote:

[2022-07-05 17:54] semioticrobotic commented on #143
Excellent! Thanks, @AmyJuneH!

[2022-07-11 12:28] semioticrobotic commented on #143
Published today and looking great! Thanks, @AmyJuneH!

[2022-07-11 12:28] semioticrobotic commented on #143
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-07-11 12:41] semioticrobotic commented on #142
Closing and archiving.

[2022-07-11 12:41] #142 closed

[2022-07-11 12:42] semioticrobotic opened #144 "Open organizations and industrial disruption (Part 1)"
First article in a new series on this subject from @RonMcFarland.

[2022-07-11 12:43] semioticrobotic commented on #144
@RonMcFarland, can you please add details here when you have a moment? Thanks.

[2022-07-11 22:22] RonMcFarland commented on #144
This is a 2-part article on the Open Organization Principle of Adaption in industrial disruption through new technology and cost reduction.  I completed the first draft, and it is gone through one edit review by Seth.

[2022-07-12 12:39] semioticrobotic commented on #144
Great! Thanks for the details, @RonMcFarland.

[2022-07-12 13:01] RonMcFarland commented on #144
I also put the next article into the schedule.  Still trying to get used to doing this.

[2022-07-12 14:01] semioticrobotic commented on #144
Excellent work, @RonMcFarland. You're doing great and I really appreciate it.

[2022-07-14 13:48] semioticrobotic opened #145 "Comparing solar power to traditional power generation the open way"
Next article on open organizations and industrial disruption from @RonMcFarland.

[2022-07-14 21:49] RonMcFarland commented on #144
Yes, there are two parts on this subject.

On Thu, Jul 14, 2022 at 10:45 PM AmyJune Hineline ***@***.***>
wrote:

[2022-07-16 12:34] RonMcFarland opened #146 "Saving energy by using Open Organization Principles"
Much has been written about carbon free energy generation, but it might be more productive to look at how energy is used, and possibly wasted.  I have written a 2-part article series on how particularly electrical energy could be used more efficiently based on the book "Reinventing Fire:  Bold Business Solutions for the New Energy Era".  It is based on research by the Rocky Mountain Institute.  Th

[2022-07-17 19:37] semioticrobotic commented on #146
This sounds interesting, @RonMcFarland. Looking forward to reading it!

[2022-07-17 21:15] RonMcFarland commented on #146
Bryan, I will share a draft of this article with you.  I have already shared it with AmyJune just for her reference, as she was interested in the subject personally.  I think it is best to get it into editing after my articles on industry disruption are into production.

[2022-07-29 17:57] AmyJuneH commented on #144
Part one is ready for review. Here is the preview link:  https://opensource.com/preview-link/node/70139/a26c61a5-d6e2-47b5-bc6f-f5d7ff44c6c9

I also will email this to Ron, thanks.

[2022-07-29 23:46] RonMcFarland commented on #144
Here are some comments......
1.  In the first page, "Could a such community be formed?".  In think, "such a ...." is better.

2.  In  "3. Use of solar power generation over nuclear power generation", I think, "Here are some consideration for solar power generation:" should be "considerations".

3.  In this sentence, "Solar now regularly provides 20-35% of Germany's power through solar power.", "th

[2022-07-30 00:13] AmyJuneH commented on #144
CHanges made, thanks.

Live URL will be:
https://opensource.com/open-organization/22/8/energy-disruption

Set to publish ~August 8

[2022-08-01 11:53] semioticrobotic commented on #144
Thanks, all! I'm not sure "Open Organizations" needs to be capitalized in the headline. We don't typically invoke it as a proper noun unless we're talking about the project or the community ("the Open Organization project," etc.). The same is true in instances like "Assume we want to build an Open Organization Community to introduce three things:"—here Ron isn't speaking of _the_ Open Organization

[2022-08-08 12:12] AmyJuneH commented on #144
This has been published:
How open organizations can harness energy disruptions
https://opensource.com/open-organization/22/8/energy-disruption?sc_cid=7016000000127ECAAY

[2022-08-08 13:31] semioticrobotic commented on #144
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-08-08 13:40] semioticrobotic commented on #144
Thanks for your great work, @AmyJuneH and @RonMcFarland!

[2022-08-08 13:41] #138 closed

[2022-08-08 13:41] #139 closed

[2022-08-08 13:46] semioticrobotic commented on #145
Thanks, @AmyJuneH. I think you're correct (though @RonMcFarland will know for sure). I went ahead and edited the issue title to reflect the headline.

You're right that we should iron out this part of the workflow. The Opensource.com team makes final determinations on headlines, and we don't know those headlines until we review typeset drafts of articles. I am always happy to update our editorial

[2022-08-11 14:40] AmyJuneH commented on #145
Published today and promoted through Opensource.com

Comparing solar power to traditional power generation the open way by @RonmcfarlMc
Considering all of the benefits, it seems anyone can generate excitement around open organization community projects regarding either solar or wind power.

https://opensource.com/open-organization/22/8/solar-power-vs-traditional-power

[2022-08-11 20:50] semioticrobotic commented on #145
Great! Thanks, @AmyJuneH!

[2022-08-11 20:50] semioticrobotic commented on #145
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-08-17 00:48] AmyJuneH commented on #146
Seth made some comments in the doc, please take a look and let me know when its ready to hit the copy edit board. Thanks.

[2022-08-17 05:19] RonMcFarland commented on #146
AmyJune,
I can't seem to find Seth's comments.  Are they in the [Google Doc](https://docs.google.com/document/d/1s7d6KcM7yGQF6RkoIuFKfnGD-KUIFagR-AvEyCIsRq0/edit)?

[2022-08-17 13:17] AmyJuneH commented on #146
My apologies. Seth made edits versus comments in the doc. You can view them in the edit history.

[2022-08-18 00:47] RonMcFarland commented on #146
AmyJune,

Oh.  I see the edit history now.  I'll look through the two parts and get
back to you shortly.

Thanks,

Ron

On Wed, Aug 17, 2022 at 10:18 PM AmyJune Hineline ***@***.***>
wrote:

[2022-08-18 02:23] RonMcFarland commented on #146
AmyJune,

I just reviewed both parts of this article.  Everything looks good to me.

Cheers,

Ron

On Thu, Aug 18, 2022 at 9:46 AM Ronald McFarland ***@***.***>
wrote:

[2022-08-18 02:24] RonMcFarland commented on #146
AmyJune,
I just reviewed both parts of this article.  Everything looks good to me.
Cheers,
Ron

[2022-08-18 14:10] AmyJuneH commented on #146
Great, I will move the doc into the general review board.

[2022-08-18 16:31] AmyJuneH commented on #146
FYI - the OSDC team split this into 2 tasks, one for each article.

[2022-08-18 22:17] RonMcFarland commented on #146
Great AmyJune,

Thanks,

Ron

On Thu, Aug 18, 2022 at 11:10 PM AmyJune Hineline ***@***.***>
wrote:

[2022-08-18 22:30] RonMcFarland opened #147 "An Innovative Open Organization Org Chart:"
I read Team of Teams, by Stanley McChrystal. What I want to do is write an article that will create an Open Organization Chart and information should flow to improve adaptability, collaboration and inclusivity.

[2022-08-19 14:13] semioticrobotic commented on #147
Your fellow @amatlack is a big fan!

[2022-08-19 14:15] semioticrobotic opened #148 "Applying open organization principles to save factory energy"

[2022-08-19 18:15] RonMcFarland commented on #147
Hopefully this 2 part article will support the Open Organization Leadership Assessment and vice versa.

After these articles, I hope to write on the book "Tribal Leadership" which further supports what we believe in a different context

.

[2022-08-20 13:53] AmyJuneH commented on #146
moved into copy editing on the OSDC side

[2022-08-20 13:54] AmyJuneH commented on #148
moved into copy editing on the OSDC side

[2022-09-01 00:06] #140 closed

[2022-09-01 01:31] RonMcFarland commented on #148
Here are some change recommendations in this article.
1.  In the sentence, "This is where transparency and collaboration between all plant processes are essential."  In think "people in" is required between "between" and "all".2.  In the sentence, "In this hypothetical case study, the factory energy consultant goes to factories, starting with their previous electricity users. They offer suggestion

[2022-09-01 01:36] RonMcFarland commented on #148
AmyJune,

Here are some change recommendations in this article.

1.  In the sentence, "This is where transparency and collaboration *between
all* plant processes are essential."  In think *"people in"* is required
between "between" and "all".
2.  In the sentence, "In this hypothetical case study, the factory energy
consultant goes to factories, starting with *their* previous electricity
users. *Th

[2022-09-01 01:37] RonMcFarland commented on #148
Just noticed, you can ignore the gender-neutral issue here.

On Thu, Sep 1, 2022 at 10:35 AM Ronald McFarland ***@***.***>
wrote:

[2022-09-01 15:10] AmyJuneH commented on #148
Great - i got the edits in.

Thanks for the prompt reviews.

On Wed, Aug 31, 2022 at 6:36 PM Ron McFarland ***@***.***>
wrote:

--
*AmyJune Hineline, CPACC*
pronouns: she / her
twitter: volkswagenchick <https://twitter.com/volkswagenchick>
linkedIn: AmyJune Hineline <https://www.linkedin.com/in/volkswagenchick/>
drupal.org: volkswagenchick <https://www.drupal.org/u/volkswagenchick>

I am probably

[2022-09-01 15:49] AmyJuneH commented on #144
I dont see the part 2 card. I'll put both URLS here

Saving home energy using open organization principles (part one)
https://opensource.com/open-organization/22/9/saving-home-energy-open-organization-principles
set to publish ~Sept 5

Applying open organization principles to save factory energy (part 2)
https://opensource.com/open-organization/22/9/saving-factory-energy-open-organization-principl

[2022-09-02 00:53] semioticrobotic commented on #144
Thanks, @AmyJuneH! They're both sitting in `Awaiting Final Approvals`. But now that we're all set, I'll attached the links and get them moving along. Appreciate it!

[2022-09-02 00:54] semioticrobotic commented on #146
[Scheduled to publish](https://opensource.com/open-organization/22/9/saving-home-energy-open-organization-principles) on September 05, 2022.

[2022-09-02 00:54] semioticrobotic commented on #148
[Scheduled to publish](https://opensource.com/open-organization/22/9/saving-factory-energy-open-organization-principles) September 06, 2022.

[2022-09-15 07:05] AmyJuneH commented on #147
Seth went through the docs with a round of edits.
From Seth:
" It does occur to me that these both feel pretty interesting for either TEP or EA.... I wonder if Open Org would be interested in testing the audiences over on one of our sister sites?"

TEP - The enterpriser's project
EA - enable architect

Let me know what you think of the edits and the idea of publishing on a sibling site.

[2022-09-15 16:26] semioticrobotic commented on #147
I will leave that up to @RonMcFarland. As the author, he should have the final decision on where his work appears.

Ron, these are the publications under discussion:

- [The Enterprisers Project](https://enterprisersproject.com/)
- [Enable Architect](https://www.redhat.com/architect/)

[2022-09-15 22:56] RonMcFarland commented on #147
I had a quick look at those two publication websites.  Yes, I think the
content of this article might be interesting for those readers too.  Also,
by posting the article there, we might be able to shine some light on other
articles on the Open Org website and our upcoming leadership assessment
tool.

I will have a look at Seth's suggestions for this article and get back to
you directly.

Thanks,

[2022-09-26 12:07] RonMcFarland commented on #147
Hi AmyJune,

Yes, I thought it was ready to go.

Thanks,

Ron

On Mon, Sep 26, 2022 at 8:34 PM AmyJune Hineline ***@***.***>
wrote:

[2022-09-28 13:44] #144 closed

[2022-09-28 13:45] #141 closed

[2022-09-28 13:46] #143 closed

[2022-09-28 13:46] #133 closed

[2022-09-29 23:44] RonMcFarland opened #149 "Community leadership, the "introducer-in-chief" (Part 1)"
This book defines "tribe" as just a group of 20-150 acquaintances.  Its goal is to give leaders tools to get members out of bad groups and into more productive ones.  It is all about Inclusivity which lead communities that better address global issues.

[2022-10-05 12:37] AmyJuneH commented on #147
The two articles have moved into copy editing.

[2022-10-11 20:41] RonMcFarland opened #150 "Org Chart Discussion"
After two articles on team building and organizations have been published, I would like to discuss what an open organization, organization chart would look like.

[2022-10-12 06:59] jimmysjolund commented on #150
Linked to https://github.com/open-organization/video/issues/45

[2022-10-15 05:22] AmyJuneH commented on #147
The first article is ready for review.
 https://opensource.com/preview-link/node/70246/64d494c8-4c81-4907-8c77-f9114c2c905a

Ron was emailed and made some comments.
The tentative publish date is Oct 18 (very subject to change)
The live URL will be
https://opensource.com/article/22/10/innovative-open-organization-chart-part-1

[2022-10-16 23:01] RonMcFarland commented on #147
AmyJune,

Had a look.  All looks good to me.

Thanks,

Ron

On Sat, Oct 15, 2022 at 2:22 PM AmyJune Hineline ***@***.***>
wrote:

[2022-10-16 23:25] RonMcFarland commented on #147
AmyJune,

I just noticed this sentence wasn't changed.  "This approach is fine for
repeated, well-known, stable processes, but not in changing environments, like
factories with complicated but linear predictable activities." wasn't
changed to "This approach is fine for repeated, well-known, stable
processes like factories with complicated but linear predictable activities,
but not in changing envi

[2022-10-16 23:59] RonMcFarland commented on #147
AmyJune,

Looking twice, it looks like you copied and pasted instead of cut and
pasted.  Here's the original.  "This approach is fine for repeated,
well-known, stable processes, but not in changing environments, like
factories with complicated but linear predictable activities, but not in
changing environments.

I have to admit, I had to look close to see it.

Ron

On Mon, Oct 17, 2022 at 8:25 AM

[2022-10-18 13:56] AmyJuneH commented on #147
Part one was published today. The live URL is
https://opensource.com/article/22/10/innovative-open-organization-chart

[2022-10-19 03:33] RonMcFarland commented on #147
AmyJune,

I just noticed under the org charts my name is spelled incorrectly.  Notice
"(Ron MacFarland, CC BY-SA 4.0)".  It is McFarland without the "a".

Cheers,

Ron

On Tue, Oct 18, 2022 at 10:56 PM AmyJune Hineline ***@***.***>
wrote:

[2022-10-19 03:37] AmyJuneH commented on #147
Thanks, I let Lauren know so she could edit the files

[2022-10-19 05:17] RonMcFarland commented on #147
Great, thanks!

On Wed, Oct 19, 2022, 12:37 PM AmyJune Hineline ***@***.***>
wrote:

[2022-10-19 14:27] semioticrobotic commented on #147
Great! Thanks once again, @AmyJuneH and team. Will begin promotion.

[2022-10-19 14:28] semioticrobotic commented on #147
### Promotion checklist

- [ ] Discourse
- [ ] Twitter
- [ ] LinkedIn

[2022-10-19 14:29] semioticrobotic opened #151 "Team of Teams review, part 2"
Second part of Ron's review of *Team of Teams*, concerning organizational charts.

[2022-10-20 13:43] AmyJuneH commented on #151
"How innovative Open Organization charts work in practice" is ready for review. Here is the preview link:
Link: https://opensource.com/preview-link/node/70251/120a856b-0102-4ed3-8915-a50556a914a3

[2022-10-24 14:26] AmyJuneH commented on #151
We made Ron's suggested edits and swapped out an incorrect image.

Tentatively - the live URL will be: https://opensource.com/article/22/10/innovative-open-organization-chart-works
Set to publish Oct 25

[2022-10-24 21:39] RonMcFarland commented on #151
All is great to go to me.  These two articles will go nicely with our Leadership Assessment hard launch activities.

[2022-10-25 18:22] semioticrobotic commented on #147
Awesome! Thanks, @AmyJuneH and team!

[2022-11-07 16:10] jenkelchner opened #152 "Unlocking the potential of decentralization"
To link to a new book release and organizational design built around an open, regenerative culture
This article would highlight some of the key challenges we are facing in open source sustainability, decentralised activities and navigating Web3 as leaders, in operations and an organization as a whole.